body {
}
footer {
    justify-content: space-between;
    align-items: center;
    background-color: #FDF8F2;
    padding: 20px;
}

.footer-container a {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: medium;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

    .social-icons a {
        margin: 0 5px;
    }

.copyright {
    text-align: center;
    color: black;
    margin-top: 10px;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

    /* The navigation menu links */
    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

        /* When you mouse over the navigation links, change their color */
        .sidenav a:hover {
            color: #f1f1f1;
        }

    /* Position and style the close button (top right corner) */
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}




.fa-li {
    position: relative;
    left: 0;
}



.fa-bars {
    margin-top: -15px;
    margin-left: -1px;
}



.logonav {
    height: 100%;
    width: 80px;
    margin-top: -120px;
    margin-left: 110px;
}

.logonav2 {
    height: 100%;
    width: 200px;
    margin-top: -130px;
    margin-left: -20px;
}



.nav-item {
    margin-top: 10px;
    font-family: 'Calibri';
    font-size: 20px;
    margin-right: 30px;
    gap: 2px;
    margin-bottom: -60px;
}

.menu-adjust {
    margin-top: -55px;
}









.button {
    width: 170px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #E89C3B;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin-top: 55px;
    font-weight: bolder;
    margin-left: 70px;
}

.wrap {
    height: 100%;
    display: flex;
    margin-left: 1030px;
    margin-top: -20px;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
    html, body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
}
@media only screen and (max-width: 768px) {
    html, body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

}


    @media only screen and (max-width: 500px) {
        .responsive {
            width: 100%;
        }
        html, body {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            overflow-x: hidden;
        }
    }

    div.desc {
        padding: 15px;
        text-align: center;
    }

    * {
        box-sizing: border-box;
    }

    .responsive {
        padding: 0 20px;
        float: left;
        width: 24.99999%;
        margin-top: 35px;
    }





    .pckg {
        font-family: 'Palatino Linotype';
        font-style: italic;
        font-weight: bold;
        text-align: center;
        font-size: 50px;
        padding-left: 65px;
    }

    .pck-headingtxt {
        font-family: 'Palatino Linotype';
        font-style: italic;
        font-weight: bolder;
        margin-top: -105px;
        padding-left: 320px;
        font-size: 30px;
    }

    .contain {
        display: flex;
    }

    .hrline {
        width: 1100px;
        padding-bottom: 0.9px;
        text-align: center;
        margin-left: 11%;
        height: 2px;
    }

    .hrline2 {
        width: 1100px;
        padding-bottom: 1px;
        text-align: center;
        margin-left: 11%;
        height: 2px;
        margin-top: -10px;
    }

    .img-adj {
        border-radius: 100px;
        width: 100px;
        margin-top: 20px;
        margin-left: 180px;
    }

    .sub-text {
        font-family: Calibri;
        font-size: 20px;
        padding-top: 5px;
        padding-left: 320px;
    }

    .sub-text2 {
        font-family: Calibri;
        font-size: 20px;
        margin-top: -76px;
        margin-bottom: 17px;
        padding-left: 520px;
    }

    .squares {
        font-size: 50px;
        position: absolute;
    }

    .pos-squares {
    }

    .book-now-btn {
        background-color: black;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 0.75rem 2rem;
        font-size: 2.5rem;
        text-align: center;
        cursor: pointer;
        width: 200px;
        height: 40px;
        font-family: 'Palatino Linotype';
    }