<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <configSections>
        <section name="resizer" type="ImageResizer.ResizerSection,ImageResizer" requirePermission="false" />
    </configSections>

    <resizer>
        <!-- Unless you (a) use Integrated mode, or (b) map all requests to ASP.NET, 
             you'll need to add .ashx to your image URLs: image.jpg.ashx?width=200&height=20 -->
        <pipeline fakeExtensions=".ashx" defaultCommands="autorotate.default=true"/>

        <plugins>
            <add name="DiskCache" />
            <!-- <add name="PrettyGifs" /> -->
            <!-- <add name="SimpleFilters" /> -->
            <!-- <add name="S3Reader" /> -->
            <add name="MvcRoutingShim" />
        </plugins>
    </resizer>
    
    <system.web>
        <compilation debug="true"  />
        <httpRuntime  maxRequestLength="2147483648"/>
        <httpModules>
            <!-- This is for IIS7/8 Classic Mode and Cassini-->
            <add name="ImageResizingModule" type="ImageResizer.InterceptModule"/>
        </httpModules>
    </system.web>
    <system.webServer>
        <validation validateIntegratedModeConfiguration="false"/>
            <security>
                <requestFiltering>
                    <requestLimits maxAllowedContentLength="2147483648" />
                </requestFiltering>
            </security>
        <modules>
            <!-- This is for IIS7/8 Integrated mode -->
            <add name="ImageResizingModule" type="ImageResizer.InterceptModule"/>
        </modules>
    </system.webServer>
    <appSettings>
        
    </appSettings>
    
</configuration>
