







body {
    background-image: url(/assets/Background.png);
}




.wrapper-packages {
    width: 100%
}


main {
    margin-bottom: 500px;
}



.gall {
    font-family: 'Montserrat Thin';
    font-weight: bold;
    font-style: italic;
    letter-spacing: 5px;
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
}

.noitems {
    padding: 40px;
    margin-left: -730px;
    font-size: 30px;
    text-align: center;
}

.text-center {
    text-align: center;
}


nav2 {
    display: inline;
}

.nav2list {
    list-style: none;
    display: inline;
    font-weight: 500;
    font-family: Calibri;
    font-size: 20px;
}

.nav2list-position {
    margin-bottom: 30px;
    margin-top: 30px;
}

.hrline {
    margin: auto;
    width: 1400px;
    height: 2px;
    margin-bottom: 40px;
    padding: 1.2px;
    border-color: black;
}

hr {
    border-color: black;
}

ul.nav2list {
    display: inline;
    text-align: left;
}

li.nav2 {
    display: inline;
}

.button {
    width: 120px;
    height: 35px;
    font-family: 'Calibri';
    font-size: 20px;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #ebd57c;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin-top: 35px;
    font-weight: bolder;
    margin-left: 1160px;
}

.button1 {
    width: 120px;
    height: 35px;
    font-family: 'Calibri';
    font-size: 20px;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #ebd57c;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin-top: -45px;
    font-weight: bolder;
    margin-left: 20px;
}

.buttonupload {
    width: 120px;
    height: 35px;
    font-family: 'Calibri';
    font-size: 20px;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #ebd57c;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    font-weight: bolder;
}

.wrap {
    height: 100%;
    display: flex;
    margin-top: 15px;
}

.close {
    width: 70px;
}

.uploadheader {
    font-family: 'Calibri';
    font-size: 30px;
}

.categoryheader {
    font-family: 'Calibri';
    font-weight: normal;
    border: hidden;
    border-radius: 55px;
    margin-right: 70px;
    margin-left: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    padding: 5px;
    background-color: #ebd57c;
    width: 150px;
    text-align: center;
}

.imageuploadheader {
    font-family: 'Calibri';
    font-weight: normal;
    border: hidden;
    border-radius: 55px;
    margin-right: 150px;
    margin-left: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    padding: 5px;
    background-color: #ebd57c;
    width: 150px;
    text-align: center;
    margin-top: 20px;
    display: inline-block;
}

.categoryselect {
    width: 200px;
    font-family: 'Calibri';
    font-size: 20px;
    text-align: center;
    border: solid;
}

.form-control-file {
    width: 20px;
    font-family: Montserrat;
    font-size: 18px;
    border: solid;
}

.input[type="file"] {
    display: none;
}



@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

div.gallery img {
    width: 100%;
    height: 390px;
    border-style: solid;
    border-color: burlywood;
    object-fit: cover;
}

div.gallery {
    border: 1px solid #ccc;
    border-style: solid;
    border-color: burlywood;
    overflow: hidden;
    margin-bottom: 40px;
}

.gallery {
}

.responsive {
}

div.gallery:hover {
    border: 1px solid #777;
}


main {
}



.space-cont {
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 20px;
    float: left;
    width: 24.99999%;
    margin-top: 35px;
}

.responsive:last-of-type{
    margin-bottom: 100px;
}


#uploadModal {
    display: none;
}



#main {
    transition: margin-left .5s;
    margin-bottom: 500px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}

@media only screen and (max-width: 475px) {
    html, body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

    .gall {
        font-family: 'Palatino Linotype';
        font-style: italic;
        font-weight: bolder;
        text-align: center;
        font-size: 30px;
        padding-right: 20px;
    }

    .nav2list {
        font-weight: 500;
        font-family: Calibri;
        font-size: 15px;
        text-align: center;
    }

    .nav2list-position {
        padding: 20px;
        margin-left: 50px;
    }

    .noitems {
        padding: 40px;
        padding-left: -10px;
        font-size: 20px;
    }
}

/* sm */
@media (max-width: 640px) {
    html, body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

    .gall {
        font-family: 'Palatino Linotype';
        font-style: italic;
        font-weight: bolder;
        text-align: center;
        font-size: 40px;
        padding-right: 20px;
    }

    .nav2list {
        font-weight: 500;
        font-family: Calibri;
        font-size: 15px;
        text-align: center;
    }

    .nav2list-position {
        padding: 20px;
        padding-left: -560px;
    }

    .noitems {
        padding: 40px;
        padding-left: -10px;
        font-size: 20px;
    }
}

/* md */
@media (max-width: 768px) {
    html, body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

    .gall {
        font-family: 'Palatino Linotype';
        font-style: italic;
        font-weight: bolder;
        text-align: center;
        font-size: 30px;
        padding-right: 20px;
    }

    .nav2list {
        font-weight: 500;
        font-family: Calibri;
        font-size: 12px;
        text-align: center;
    }

    .nav2list-position {
        padding: 10px;
        margin-left: 70px;
    }

    .noitems {
        padding: 40px;
        padding-left: -10px;
        font-size: 20px;
    }

    .button {
        width: 170px;
        height: 45px;
        font-family: 'Roboto', sans-serif;
        font-size: 11px;
        text-transform: uppercase;
        letter-spacing: 2.5px;
        border-radius: 45px;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease 0s;
        margin-top: 5px;
        font-weight: bolder;
        margin-left: 70px;
    }

    .wrap {
        height: 100%;
        display: flex;
        margin-left: 150px;
        margin-top: -5px;
    }
}

}

/* lg */
@media (max-width: 1024px) {
    html, body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

    .gall {
        font-family: 'Palatino Linotype';
        font-style: italic;
        font-weight: bolder;
        text-align: center;
        font-size: 30px;
        padding-right: 20px;
    }

    .nav2list {
        font-weight: 500;
        font-family: Calibri;
        font-size: 15px;
        text-align: center;
    }

    .nav2list-position {
        padding: 20px;
        margin-left: -520px;
    }

    .noitems {
        padding: 40px;
        padding-left: -10px;
        font-size: 20px;
        font-family: 'Montserrat Thin';
        font-weight: bold;
        font-style: italic;
        letter-spacing: 5px;
    }
}



.container {
    margin-top: auto;
    min-height: 100vh;
}



footer {
    position: fixed;
    height: 90px;
    bottom: 0;
    width: 100%;
    background-color: #FDF8F2;
    padding: -20px;
}

.footer-container a {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: medium;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

    .social-icons a {
        margin: 0 5px;
        margin-top: -5px;
    }

..social-icons .hover {
    color: black;
}

.copyright {
    text-align: center;
    color: black;
    margin-top: -1px;
    margin-bottom: 5px;
}


.black-text {
    color: black;
}

    .black-text:hover {
        color: black;
    }

a.black-text:active,
a.black-text:hover {
    color: #E89C3B !important;
}
