﻿

.wrapper-nav {
    width: 100%;
    margin-bottom: -20px;
}

.wrapper-navbar-logo {
    width: fit-content;
    height: 100%;
}

    .wrapper-navbar-logo img {
        height: 40px;
        margin: -120px -120px 0 100px;
    }

.wrapper-navbar-menu {
    width: fit-content;
    margin-top: -65px;
}

.wrapper-packages {
    width: 100%
}




#slider {
    position: relative;
    width: 48vw;
    height: 22vw;
    margin: 150px auto;
    font-family: 'Helvetica Neue', sans-serif;
    perspective: 1400px;
    transform-style: preserve-3d;
    align-content: center;
}

input[type=radio] {
    position: relative;
    top: 60%;
    left: 53%;
    width: 18px;
    height: 18px;
    margin: auto;
    opacity: 0.4;
    transform: translateX(-83px);
    cursor: pointer;
    color: black;
    margin-top: -800px;
}


    input[type=radio]:nth-child(5) {
        margin-right: 0px;
    }

    input[type=radio]:checked {
        opacity: 1;
        margin: auto;
    }




#slider label,
#slider label img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    color: white;
    font-size: 70px;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    transition: transform 400ms ease;
}

#slide1 img {
    width: 100%;
}

/* Slider Functionality */

/* Active Slide */
#s1:checked ~ #slide1,
#s2:checked ~ #slide2,
#s3:checked ~ #slide3,
#s4:checked ~ #slide4,
#s5:checked ~ #slide5 {
    box-shadow: 0 13px 26px rgba(0,0,0, 0.3), 0 12px 6px rgba(0,0,0, 0.2);
    transform: translate3d(0%, 0, 0px);
}

/* Next Slide */
#s1:checked ~ #slide2,
#s2:checked ~ #slide3,
#s3:checked ~ #slide4,
#s4:checked ~ #slide5,
#s5:checked ~ #slide1 {
    box-shadow: 0 6px 10px rgba(0,0,0, 0.3), 0 2px 2px rgba(0,0,0, 0.2);
    transform: translate3d(20%, 0, -100px);
}


/* Next to Next Slide */
#s1:checked ~ #slide3,
#s2:checked ~ #slide4,
#s3:checked ~ #slide5,
#s4:checked ~ #slide1,
#s5:checked ~ #slide2 {
    box-shadow: 0 1px 4px rgba(0,0,0, 0.4);
    transform: translate3d(40%, 0, -250px);
}

/* Previous to Previous Slide */
#s1:checked ~ #slide4,
#s2:checked ~ #slide5,
#s3:checked ~ #slide1,
#s4:checked ~ #slide2,
#s5:checked ~ #slide3 {
    box-shadow: 0 1px 4px rgba(0,0,0, 0.4);
    transform: translate3d(-40%, 0, -250px);
}

/* Previous Slide */
#s1:checked ~ #slide5,
#s2:checked ~ #slide1,
#s3:checked ~ #slide2,
#s4:checked ~ #slide3,
#s5:checked ~ #slide4 {
    box-shadow: 0 6px 10px rgba(0,0,0, 0.3), 0 2px 2px rgba(0,0,0, 0.2);
    transform: translate3d(-20%, 0, -100px);

}

#carousel {
    margin:auto;
}

.freeze {
    font-family: 'Palatino Linotype';
    font-style: italic;
    font-weight: bold;
    text-align: center;
    font-size: 50px;
    padding-right: 30px;
    margin-top: -20px;
    letter-spacing: 15px;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}
.time {
    font-family: 'Palatino Linotype';
    font-style: italic;
    font-weight: bold;
    color: #E89C3B;
    text-align: center;
    font-size: 50px;
    letter-spacing: 15px;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
   
    
}

.text-center {
    text-align: center;
}

.text-center1 {
    text-align: center;
    margin-top:20px;
    padding-bottom: -34px;
}
.text-center2 {
    text-align: center;
    margin-top: 20px;
    padding-bottom: -34px;
}

.your {
    font-family: Calibri;
    font-weight: bold;
    text-align: center;
    font-size: 50px;
    padding-right: 5px;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    letter-spacing: 7px;
}

.packages {
    font-family: Calibri;
    font-weight: bold;
    color: #E89C3B;
    text-align: center;
    font-size: 50px;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    letter-spacing: 7px;
}

.card {
    margin-top: 60px;
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
}

pack1 {
    margin-left: 200px;
    margin-right: 90px;
}

.your1 {
    margin-left: 10px;
    font-family: Calibri;
    font-weight: bolder;
    font-size: 25px;
}

.packages1 {
    font-family: Calibri;
    font-weight: bold;
    color: #E89C3B;
    font-size: 25px;
    font-style: italic;
}

.your1 {
    margin-left: 10px;
    font-family: Calibri;
    font-weight: bolder;
    font-size: 25px;
}

.packages1 {
    font-family: Calibri;
    font-weight: bold;
    color: #E89C3B;
    font-size: 25px;
    font-style: italic;
}

.squares {
    padding-left: 20px;
    transform: scale(1.5,1.5);
    margin-right: 30px;
    margin-top: 10px;
    font-size: 35px;
}

.det1 {
    font-size: 18px;
}

.cardbody1 {
    font-family: Calibri;
    font-size: 50px;
}

.spacebottom {
}

.card-body {
    height: 360px;
    margin-left: 12px;
}

.img-thumbnail1 {
    width: 130px;
    margin-top: -370px;
    margin-left: 290px;
}

.img-thumbnail2 {
    width: 130px;
    margin-top: -350px;
    margin-left: 470px;
    margin-bottom: 60px;
}

.img-thumbnail3 {
    width: 130px;
    margin-bottom: 100px;
    margin-top: -350px;
    margin-left: 640px;
}

.img-thumbnail4 {
    width: 130px;
    margin-top: -490px;
    margin-left: 820px;
}

.squares1 {
    padding-left: 23px;
    transform: scale(1.5,1.5);
    margin-right: 28px;
    font-size: 35px;
    margin-top: 10px;
}

.packages2 {
    font-family: Calibri;
    font-weight: bold;
    color: #E89C3B;
    font-size: 25px;
    font-style: italic;
    margin-right: 45px;
}


.wrap {
    height: 100%;
    margin-left: 820px;
    margin-top: -40px;
}

.button {
    width: 120px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #E89C3B;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin-top: 35px;
    font-weight: bolder;
}



.site-footer {
    background-color: #26272b;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
    width: 100%;
    height: 300px;
}

    .site-footer hr {
        border-top-color: #bbb;
        opacity: 0.5
    }

        .site-footer hr.small {
            margin: 20px 0
        }

    .site-footer h6 {
        color: #fff;
        font-size: 16px;
        text-transform: uppercase;
        margin-top: 5px;
        letter-spacing: 2px
    }

    .site-footer a {
        color: #737373;
    }

        .site-footer a:hover {
            color: #3366cc;
            text-decoration: none;
        }





.footer-links a:active, .footer-links a:focus, .footer-links a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links.inline li {
    display: inline-block
}






@media (max-width:991px) {
    .site-footer [class^=col-] {
        margin-bottom: 30px
    }
}

@media (max-width:767px) {
    .site-footer {
        padding-bottom: 0
    }

        .site-footer .copyright-text, .site-footer .social-icons {
            text-align: center
        }
}




footer {
    justify-content: space-between;
    align-items: center;
    background-color: #FDF8F2;
    padding: 20px;
}






body, html {
    width: 100%;
    height: 100%;
}

.imgresize {
    width: 300px;
    margin-left: 30px;
    margin-top: -50px;
    padding-top: -80px;
}

.about {
    font-family: Calibri;
    font-weight: bold;
    text-align: center;
    font-size: 50px;
    padding-right: 5px;
    color: white;
    margin-left: 350px;
    margin-bottom: 60px;
    margin-top: -200px;
  
}

.text-center1 {
    text-align: center;
    margin-top: 50px;
}

.us {
    font-family: Calibri;
    font-weight: bold;
    color: #E89C3B;
    text-align: center;
    font-size: 50px;
}

.pright {
    padding-right: -90px;
    margin-left: -40px;
    margin-bottom: -40px;
    margin-right: -170px;
    color: #FDF8F2;
    margin-top:10px;
}








/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

    /* The navigation menu links */
    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

        /* When you mouse over the navigation links, change their color */
        .sidenav a:hover {
            color: #f1f1f1;
        }

    /* Position and style the close button (top right corner) */
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }



/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}

.logos {
}

.header-text {
   margin-bottom:-150px;
}

.header-texta {
    margin-top: -80px;
    margin-bottom:230px;
}

.learn1 {
    font-size: 15px;
    padding-left: 700px;
    font-weight: bold;
    text-decoration: underline;
    font-style: italic;
    margin-bottom: 200px;
}

.learn2 {
    font-size: 15px;
    padding-left: 890px;
    padding-top: 30px;
    font-weight: bold;
    text-decoration: underline;
    font-style: italic;
    margin-bottom: 200px
}

.price1 {
    font-family: calibri;
    font-weight: bolder;
    padding-left: 60px;
    font-size: 30px;
}

.price2 {
    font-family: calibri;
    font-weight: bolder;
    padding-left: 60px;
    font-size: 30px;
}

@media only screen and (max-width: 768px) {

    html, body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

    .logos {
        width: 2000%;
    }

    .freeze {
        font-size: 30px;
    }

    .time {
        font-size: 30px;
    }

    .your {
        font-size: 30px;
    }

    .student {
        font-size: 30px;
    }

    .packages {
        font-size: 30px;
    }

    .learn1 {
        font-size: 10px;
        margin-left: -420px;
        font-weight: bold;
        text-decoration: underline;
        font-style: italic;
        margin-bottom: 100px;
        margin-top:-20px;
    }

    .learn2 {
        font-size: 10px;
        margin-left: -620px;
        margin-top: -40px;
        font-weight: bold;
        text-decoration: underline;
        font-style: italic;
        margin-bottom: 200px
    }

    .card {
        width: 410px;
        height: 200px;
    }

    .card-header {
        height: 50px;
    }

    .card-body {
        height: 270px;
    }

    .your1 {
        font-size: 20px;
    }

    .packages1 {
        font-size: 20px;
    }

    .packages2 {
        font-size: 20px;
    }

    .squares {
        padding-left: 7px;
        margin-right: 3px;
        font-size: 15px;
    }

    .squares1 {
        padding-left: 7px;
        margin-right: 3px;
        font-size: 15px;
    }

    .det1 {
        font-size: 12px;
    }

    .img-thumbnail1 {
        width: 60px;
        margin-top: -330px;
        margin-left: 170px;
    }

    .img-thumbnail2 {
        width: 60px;
        margin-top: -310px;
        margin-left: 270px;
        margin-bottom: 60px;
    }

    .img-thumbnail3 {
        width: 60px;
        margin-bottom: 100px;
        margin-top: -140px;
        margin-left: 170px;
    }

    .img-thumbnail4 {
        width: 60px;
        margin-top: -310px;
        margin-left: 270px;
    }

    .wrap {
        height: 100%;
        display: flex;
        margin-left: 10px;
        margin-top: -20px;
        width: 120px;
    }

    .site-footer {
        background-color: #26272b;
        padding: 45px 0 20px;
        line-height: 15px;
        color: #737373;
        width: 100%;
        height: 200px;
    }
    .text-center2 {
      
        margin-top: -15px;
        
    }

    .pright {
        margin-left: 150px;
        margin-top: -70px;
        font-size: 5px;
        
        
    }

    .imgresize {
        width: 90px;
        margin-top: -30px;

    }

    .about {
        
       
        font-family: Calibri;
        font-weight: bold;
       margin-top:-100px;
        font-size: 20px;
        margin-left: 150px;
        color: white;
    }

    .us {
        font-family: Calibri;
        font-weight: bold;
        color: #E89C3B;
        font-size: 20px;
        margin-left: 5px;
        
    }

    .price1 {
        font-family: calibri;
        font-weight: bolder;
        display: flex;
        font-size: 15px;
        margin-top: -25px;
        margin-left: 300px;
    }

    .price2 {
        font-family: calibri;
        font-weight: bolder;
        display: flex;
        font-size: 15px;
        margin-top: -25px;
        margin-left: 300px;
    }
    .wrapper-nav {
        width: 100%;
        margin-bottom: -20px;
    }

    .wrapper-navbar-logo {
        width: fit-content;
        height:20%;
        margin-right:-50px;
    }

        .wrapper-navbar-logo img {
            height: 40px;
            margin-top:-105px;
            margin-left:120px;
          
            
        }

    .wrapper-navbar-menu {
        width: fit-content;
        margin-top: -65px;
    }

    .wrapper-packages {
        width: 100%
    }
}

.nav-item {
    margin-top: 10px;
    font-family: 'Calibri';
    font-size: 20px;
    margin-right: 30px;
    gap: 2px;
    margin-bottom:-60px;
}

.menu-adjust {
    margin-top: -55px;
}


footer {
    justify-content: space-between;
    align-items: center;
   height:350px;
    padding: 20px;
    background-color: #26272b;
    margin-bottom:-200px;
}

.footer-container a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: medium;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

    .social-icons a {
        margin: 0 5px;
    }

.copyright {
    text-align: center;
    color: black;
    margin-top: 10px;
}