.wrapper-nav {
    width: 100%;
}

.wrapper-navbar-logo {
    width: fit-content;
    height: 100%;
}

    .wrapper-navbar-logo img {
        height: 40px;
        margin: -60px -120px 0 100px;
    }

.wrapper-navbar-menu {
    width: fit-content;
}

.wrapper-packages {
    width: 100%
}


.navbar-nav .nav-item .nav-link {
    color: black;
    text-decoration: none;
    transition: color 0.3s, background-color 0.3s;
}

    .navbar-nav .nav-item .nav-link:hover {
        color: #E89C3B !important;
        text-decoration: underline;
    }




.navactive {
    color: #E89C3B;
    text-decoration: underline;
}


.nav-item {
    font-family: 'Calibri';
    font-size: 20px;
    margin-right: 30px;
    gap: 2px;
}
