@{
    ViewData["Title"] = "Home Page";
}

<html>
<head>
    <meta charset="UTF -8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/homegallery/home.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>





</head>


<body style="background-image: url(/assets/Background.png);">
    <header>

        <div class="wrapper-nav">

            <nav class="navbar navbar-expand-lg navbar-light">

                <div class="container-fluid">
                    <div class="navbar-header">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <i class="fas fa-bars"></i>
                        </button>

                    </div>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      
                        <ul class="navbar-nav ml-auto navbar-right">
                            <li class="nav-item active navactive">
                                <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            
                            @if (User.IsInRole("User"))
                            {
                                <li class="nav-item active">
                                    <a class="nav-link" asp-controller="GalleryCustomer" asp-action="Index">Gallery</a>
                                </li>
                            }
                            
                            @if (ViewBag.isLogged == false)
                            {
                                <li class="nav-item active">
                                    <a class="nav-link" asp-controller="GalleryCustomer" asp-action="Index">Gallery</a>
                                </li>
                            }
                            
                            @if (User.IsInRole("Admin"))
                            {
                                <li class="nav-item dropdown active">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Gallery
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" asp-controller="GalleryCustomer" asp-action="Index">User Gallery UI</a>
                                        <a class="dropdown-item" asp-controller="Gallery" asp-action="Index">Admin Gallery</a>
                                    </div>
                                </li>
                            }
                            
                            <li class="nav-item active ">
                                <a class="nav-link" asp-controller="Packages" asp-action="Index">Packages</a>
                            </li>
                            <script>
                                $(document).ready(function () {
                                    $('.nav-link.dropdown-toggle').on('click', function (e) {
                                        e.preventDefault();
                                        $(this).next('.dropdown-menu').slideToggle();
                                    });
                                });
                            </script>
                            
                            @if(User.IsInRole("User"))
                            {
                                <li class="nav-item dropdown active">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Booking
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" asp-controller="Booking" asp-action="Index">Create Booking</a>
                                        <a class="dropdown-item" asp-controller="Booking" asp-action="Booking">Booking List</a>
                                    </div>
                                </li>

                                <li class="nav-item dropdown active">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Inquiry</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" asp-controller="Inquiry" asp-action="clientInquiry">Create Inquiry</a>
                                    <a class="dropdown-item" asp-controller="Inquiry" asp-action="Inquirylist">Inquiry List</a>
                                </div>
                            </li>
                            }
                            
                            @if (ViewBag.isLogged == false)
                            {
                                <li class="nav-item dropdown active">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Booking
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" asp-controller="Booking" asp-action="Index">Create Booking</a>
                                        <a class="dropdown-item" asp-controller="Booking" asp-action="Booking">Booking List</a>
                                    </div>
                                </li>
                                
                                <li class="nav-item dropdown active">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Inquiry</a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" asp-controller="Inquiry" asp-action="clientInquiry">Create Inquiry</a>
                                        <a class="dropdown-item" asp-controller="Inquiry" asp-action="Inquirylist">Inquiry List</a>
                                    </div>
                                </li>
                            }

                                @if (User.IsInRole("Admin"))
                            {

                                <li class="nav-item dropdown active">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Booking
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" asp-controller="Booking" asp-action="Index">Create Booking</a>
                                        <a class="dropdown-item" asp-controller="Booking" asp-action="BList">Review Customer Booking</a>
                                        <a class="dropdown-item" asp-controller="Booking" asp-action="BookingListAdmin">Admin Booking List</a>
                                        
                                    </div>
                                </li>


                                <li class="nav-item dropdown active">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Inquiry</a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" asp-controller="Inquiry" asp-action="clientInquiry">Create Inquiry</a>
                                        <a class="dropdown-item" asp-controller="Inquiry" asp-action="iListAdmin">Inquiry Admin</a>
                                    </div>
                                </li>
                            }

                            @if (ViewBag.isLogged)
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Home" asp-action="Logout"><i class="fa-solid fa-door-open"></i></a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Account" asp-action="Index"><i class="fa-solid fa-door-closed"></i></a>
                                </li>
                            }
                        </ul>

                    </div>
                </div>

            </nav>

            <div class="wrapper-navbar-logo">

                <img src="~/assets/logo.png" alt="Your Studio Logo">
                <img class="logonav2" src="~/assets/logo2.png" alt="Your Studio Logo">
            </div>
        </div>
    </header>

    <main>
        
        <div class="header-text">
        <h1 class="text-center">
            <span class="freeze">FREEZING</span>
            <span class="time">TIME</span>
        </h1>
        </div>
        <br />

        <div id="carousel">

            <section id="slider">
                <input type="radio" name="slider" id="s1" checked>
                <input type="radio" name="slider" id="s2">
                <input type="radio" name="slider" id="s3">
                <input type="radio" name="slider" id="s4">
                <input type="radio" name="slider" id="s5">

                <label for="s1" id="slide1"><img src="~/assets/car1.JPG" alt=""></label>
                <label for="s2" id="slide2"><img src="~/assets/car2.JPG" alt=""></label>
                <label for="s3" id="slide3"><img src="~/assets/car3.JPG" alt=""></label>
                <label for="s4" id="slide4"><img src="~/assets/car4.JPG" alt=""></label>
                <label for="s5" id="slide5"><img src="~/assets/car5.JPG" alt=""></label>

                
                <input type="radio" id="auto-slider" name="slider" style="display: none;">
            </section>

            <script>
                // Function to switch to the next slide
                function nextSlide() {
                    var currentSlide = document.querySelector('input[name="slider"]:checked');
                    var nextSlide = currentSlide.nextElementSibling || document.querySelector('input[name="slider"]:first-child');
                    nextSlide.checked = true;

                    // Check if it's the last slide, then loop back to the first one
                    if (!nextSlide) {
                        var firstSlide = document.querySelector('input[name="slider"]:first-child');
                        firstSlide.checked = true;
                    }
                }

                // Automatic slide change interval (in milliseconds)
                var slideInterval = 3000; // Change slides every 3 seconds

                // Start automatic sliding
                var autoSlider = setInterval(nextSlide, slideInterval);

                // Stop automatic sliding when user interacts with the slider
                var slider = document.getElementById('slider');
                slider.addEventListener('mouseover', function () {
                    clearInterval(autoSlider);
                });

                slider.addEventListener('mouseleave', function () {
                    autoSlider = setInterval(nextSlide, slideInterval);
                });
            </script>
        </div>
        <div class="header-texta">
        <h1 class="text-center1">
            <span class="freeze">FRAMING</span>
            <span class="time">MEMORIES</span>
        </h1>
        </div>

       
        <h1 class="text-center">
            <span class="your">YOUR</span>
            <span class="packages">PACKAGES</span>
        </h1>


        <div class="pack1">
            <div class="card">
                <div class="card-header">
                    <p>
                        <span class="your1">YOUR</span>
                        <span class="packages1">STUDENT</span>
                        <span style="color:darkorchid" class="glyphicon glyphicon-stop squares"></span>
                        <span style="color:darkgreen" class="glyphicon glyphicon-stop squares"></span>
                        <span style="color:darkblue" class="glyphicon glyphicon-stop squares"></span>
                        <span style="color:darkkhaki" class="glyphicon glyphicon-stop squares"></span>
                        <span style="color:darkmagenta" class="glyphicon glyphicon-stop squares"></span>
                        <span style="color:darkorange" class="glyphicon glyphicon-stop squares"></span>
                        <span style="color:dimgrey" class="glyphicon glyphicon-stop squares"></span>
                        <span class="price1"> ₱399 </span>
                    </p>
                </div>
                <div class="card-body" style="margin-bottom:-50px;">
                    <div class="cardbody1">
                        <div class="det1">
                            <p>
                                1 student <br /> <br />
                                Unli 20 minutes of shooting <br /> <br />
                                1 backdrop of your choice <br />  <br />
                                1 printed 4R of your choice <br />  <br />
                                All raw digital copies

                            </p>
                        </div>
                        <form asp-controller="Home" asp-action="goToBooking">
                        <div class="wrap">
                            <button class="button">BOOK NOW</button>
                        </div>
                        </form>



                    </div>
                    <img src="~/assets/solo1.JPG" alt="..." class="img-thumbnail1 img-fluid">
                    <img src="~/assets/solo2.JPG" alt="..." class="img-thumbnail2 img-fluid">
                    <img src="~/assets/solo3.JPG" alt="..." class="img-thumbnail3 img-fluid">
                    <img src="~/assets/solo4.JPG" alt="..." class="img-thumbnail4 img-fluid">
                </div>
            </div>
        </div>


        <div class="pack1">
            <div class="card">
                <div class="card-header">
                    <p>
                        <span class="your1">YOUR</span>
                        <span class="packages2">DUO </span>
                        <span style="color:darkorchid" class="glyphicon glyphicon-stop squares1"></span>
                        <span style="color:darkgreen" class="glyphicon glyphicon-stop squares1"></span>
                        <span style="color:darkblue" class="glyphicon glyphicon-stop squares1"></span>
                        <span style="color:darkkhaki" class="glyphicon glyphicon-stop squares1"></span>
                        <span style="color:darkmagenta" class="glyphicon glyphicon-stop squares1"></span>
                        <span style="color:darkorange" class="glyphicon glyphicon-stop squares1"></span>
                        <span style="color:dimgrey" class="glyphicon glyphicon-stop squares1"></span>
                        <span class="price2"> ₱769 </span>
                    </p>
                </div>
                <div class="card-body">
                    <div class="cardbody1">
                        <div class="det1">
                            <p>
                                2 persons <br /> <br />
                                Unli 25 minutes of shooting <br /> <br />
                                1 backdrop of your choice <br />  <br />
                                1 printed 4R of your choice <br />  <br />                            
                                Free solo portrait <br />  <br />
                                All raw digital copies
                            </p>
                        </div>
                        <form asp-controller="Home" asp-action="goToBooking">
                        <div class="wrap">
                            <button class="button">BOOK NOW</button>
                        </div>
                        </form>

                    </div>
                    <img src="~/assets/duo1.JPG" alt="..." class="img-thumbnail1 img-fluid">
                    <img src="~/assets/duo2.JPG" alt="..." class="img-thumbnail2 img-fluid">
                    <img src="~/assets/duo3.JPG" alt="..." class="img-thumbnail3 img-fluid">
                    <img src="~/assets/duo4.JPG" alt="..." class="img-thumbnail4 img-fluid">


                </div>

            </div>
        </div>
        <div class="learn2">
            <a type="button"  style="color:black; margin-bottom:-120px;"class="nav-link" asp-controller="Packages" asp-action="Index"><p class="text-center1">LEARN MORE! -></p></a>
            
        </div>

    </main>

   
    <footer>
        <div class="footer-container">
            <div class="container">
                <p class="text-center2">

                    <span class="about">ABOUT</span> <span class="us">US</span>
                </p>
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <img class="imgresize" src="~/assets/logofull.png"> <img />
                    </div>

                    <div class="col-xs-2 col-md-5">
                        
                        <p class="pright"> &nbsp;Indoor & Outdoor Professional Photography |  Bacoor, Cavite PH </p>
                        <br><br><br>
                    </p>

                        <p class="pright">
                            🏠 Headshots | Portrait | Couple | Group | Maternity | Toddler | Pets
                        </p><br> <br><br>

                        <p class="pright">
                             🌳 Prenup | Baptismal | Birthday | Graduation | Corporate 
                        </p>
                        <br><br><br>
                        <p class ="pright">
                            📌 B09 L31 Sorrento Ave. Sorrento Townhomes  Panapaan IV, Bacoor, Philippines
                            </p>
                    </div>

                    <div class="col-xs-6 col-md-3">
                    </div>

                </div>

            </div>
            </div>
    </footer>


    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.js"
            asp-fallback-test="window.jQuery"
            crossorigin="anonymous"
            integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
    </script>



    <script src="https://cdjns.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>



</html>