
.body {

}

.menu {
    height: 100%;
    width: 80px;
    margin-top: -2px;
    margin-left:-190px
}

.fa-li {
    position: relative;
    left: 0;
}

.navbar-nav {
    margin-top: 20px;
    margin-left: -50px;
}
.fa-bars {
    margin-top: -15px;
    margin-left: -1px;
}

.nav-item .active {
    gap: 9px;
    margin-right: 10px;
}
.logonav {
    height: 100%;
    width: 80px;
    margin-top: -100px;
    margin-left: 110px;

}

.logonav2 {
    height: 100%;
    width: 200px;
    margin-top: -110px;
    margin-left: -20px;
}
.topnav {
    margin-top: -200px;
    margin-right: 50px;
}


#slider {
    position: relative;
    width: 50%;
    height: 22vw;
    margin: 150px auto;
    font-family: 'Helvetica Neue', sans-serif;
    perspective: 1400px;
    transform-style: preserve-3d;

}

input[type=radio] {
    position: relative;
    top: 108%;
    left: 50%;
    width: 18px;
    height: 18px;
    margin: 0 15px 0 0;
    opacity: 0.4;
    transform: translateX(-83px);
    cursor: pointer;
}


input[type=radio]:nth-child(5) {
    margin-right: 0px;
}

input[type=radio]:checked {
    opacity: 1;
}




#slider label,
#slider label img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    color: white;
    font-size: 70px;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 400ms ease;
}



/* Slider Functionality */

/* Active Slide */
#s1:checked ~ #slide1,
#s2:checked ~ #slide2,
#s3:checked ~ #slide3,
#s4:checked ~ #slide4,
#s5:checked ~ #slide5 {
    box-shadow: 0 13px 26px rgba(0,0,0, 0.3), 0 12px 6px rgba(0,0,0, 0.2);
    transform: translate3d(0%, 0, 0px);
}

/* Next Slide */
#s1:checked ~ #slide2,
#s2:checked ~ #slide3,
#s3:checked ~ #slide4,
#s4:checked ~ #slide5,
#s5:checked ~ #slide1 {
    box-shadow: 0 6px 10px rgba(0,0,0, 0.3), 0 2px 2px rgba(0,0,0, 0.2);
    transform: translate3d(20%, 0, -100px);
}


/* Next to Next Slide */
#s1:checked ~ #slide3,
#s2:checked ~ #slide4,
#s3:checked ~ #slide5,
#s4:checked ~ #slide1,
#s5:checked ~ #slide2 {
    box-shadow: 0 1px 4px rgba(0,0,0, 0.4);
    transform: translate3d(40%, 0, -250px);
}

/* Previous to Previous Slide */
#s1:checked ~ #slide4,
#s2:checked ~ #slide5,
#s3:checked ~ #slide1,
#s4:checked ~ #slide2,
#s5:checked ~ #slide3 {
    box-shadow: 0 1px 4px rgba(0,0,0, 0.4);
    transform: translate3d(-40%, 0, -250px);
}

/* Previous Slide */
#s1:checked ~ #slide5,
#s2:checked ~ #slide1,
#s3:checked ~ #slide2,
#s4:checked ~ #slide3,
#s5:checked ~ #slide4 {
    box-shadow: 0 6px 10px rgba(0,0,0, 0.3), 0 2px 2px rgba(0,0,0, 0.2);
    transform: translate3d(-20%, 0, -100px);
}

#carousel{
    margin-top: -130px;
    margin-bottom: -90px;
}

.freeze {
    font-family: 'Palatino Linotype';
    font-style: italic;
    font-weight: bold;
    text-align: center;
    font-size: 50px;
    padding-right: 30px;
}
.time {
    font-family: 'Palatino Linotype';
    font-style: italic;
    font-weight: bold;
    color: #E89C3B;
    text-align:center;
    font-size:50px;
}
.text-center{
    text-align:center;
}
.text-center1 {
    text-align: center;
    padding-bottom:-34px;
}

.your {
    font-family: Calibri;
    font-weight: bold;
    text-align: center;
    font-size: 50px;
    padding-right: 5px;
}

.packages {
    font-family: Calibri;
    font-weight: bold;
    color: #E89C3B;
    text-align: center;
    font-size: 50px;

}

.card{
    margin-top:60px;
    width: 1000px;
    margin-right:auto;
    margin-left: auto;
}

pack1 {
    margin-left: 200px;
    margin-right: 90px;
}

.your1 {
    margin-left:10px;
    font-family: Calibri;
    font-weight: bolder;
    font-size: 25px;

}

.packages1 {
    font-family: Calibri;
    font-weight: bold;
    color: #E89C3B;
    font-size: 25px;
    font-style:italic;
}
.your1 {
    margin-left: 10px;
    font-family: Calibri;
    font-weight: bolder;
    font-size: 25px;
}

.packages1 {
    font-family: Calibri;
    font-weight: bold;
    color: #E89C3B;
    font-size: 25px;
    font-style: italic;
}

.squares {
    padding-left: 20px;
    transform: scale(1.5,1.5);
    margin-right: 30px;
}

.cardbody1{
    font-family:Calibri;
    font-size:50px;

}
.spacebottom{

}
.card-body {
    height: 300px;
    margin-left: 12px;

}
.img-thumbnail1 {
    width: 130px;

    margin-top: -340px;
    margin-left: 290px;

}
.img-thumbnail2 {
    width: 130px;

    margin-top: -315px;
    margin-left: 470px;
    margin-bottom: 60px;


}
.img-thumbnail3 {
    width: 130px;
    margin-bottom: 100px;
    margin-top: -315px;
    margin-left: 640px;
}
.img-thumbnail4 {
    width: 130px;

    margin-top: -455px;
    margin-left: 820px;

}
.squares1 {
    padding-left: 23px;
    transform: scale(1.5,1.5);
    margin-right: 28px;
}
.packages2 {
    font-family: Calibri;
    font-weight: bold;
    color: #E89C3B;
    font-size: 25px;
    font-style: italic;
    margin-right:45px;
}

.wrap {
    height: 100%;
    display: flex;
    margin-left:830px;
    padding-top:-25px;

}

.button {
    width: 120px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #E89C3B;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin-top: 35px;
    font-weight:bolder;
}



.site-footer {
    background-color: #26272b;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
    width:135%;
    padding-right:200px;
    margin-right:70px;
    margin-left:-230px;
    margin-bottom:-50px;
}

.site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5
}

.site-footer hr.small {
    margin: 20px 0
}

.site-footer h6 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px
}

.site-footer a {
    color: #737373;
}

.site-footer a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links {
    padding-left: 0;
    list-style: none
}

.footer-links li {
    display: block
}

.footer-links a {
    color: #737373
}

.footer-links a:active, .footer-links a:focus, .footer-links a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links.inline li {
    display: inline-block
}

.site-footer .social-icons {
    text-align: right
}

.site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #33353d
}



@media (max-width:991px) {
    .site-footer [class^=col-] {
        margin-bottom: 30px
    }
}

@media (max-width:767px) {
    .site-footer {
        padding-bottom: 0
    }

    .site-footer .copyright-text, .site-footer .social-icons {
        text-align: center
    }
}











body, html {
    width: 100%;
    height: 100%;
}

.imgresize{
    width:300px;
    margin-left:30px;
    margin-top:-70px;
    padding-top:-80px;
}

.about {
    font-family: Calibri;
    font-weight: bold;
    text-align: center;
    font-size: 50px;
    padding-right: 5px;
    color:white;
    margin-left:500px;
    margin-bottom:60px;
    margin-top:-50px;
    padding-top:200px;
}

.us {
    font-family: Calibri;
    font-weight: bold;
    color: #E89C3B;
    text-align: center;
    font-size: 50px;

}
.pright{
    padding-right:-90px;
    margin-left:120px;
    margin-bottom:-60px;
    margin-right:-170px;
}

#navbar {
    margin-left: 100px;
    padding-left:50px;

}

.navbar-nav {
    font-family: 'Calibri';
    font-size: 19px;
    gap: 20px;
    margin-left: 100px;
    padding-left: 50px;
    margin-right:-50px;
    margin-top: 200px;
}

.navbar-right {
    margin-left: 100px;
}


/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.nav-item{
    margin-top:-50px;
}
.menu-adjust{
    margin-top:30px;
}