@{
    ViewData["Title"] = "Login";
}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    

    <!-- Style -->
    <link href="~/css/first/login.css" rel="stylesheet" />
    <title>Login #2</title>
</head>
<body>
    <header>
      
    </header>

    <div class="body-bg">

        <div class="row g-0">
            <div class="col-md-8 col-lg-6">
                <div class="login d-flex align-items-center py-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-9 col-lg-8 mx-auto">
                                <div class="greeting-container">
                                    <h3 id="greeting"><strong></strong></h3>
                                </div>
                                <form asp-action="loginUser" method="post">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="floatingInput" placeholder="username" name="UserName" required>
                                        <label for="floatingInput">Username</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password" required>
                                        <label for="floatingPassword">Password</label>
                                    </div>
                                    <div class="form-check d-flex justify-content-between mb-3">
                                        <div>
                                            <input class="form-check-input" type="checkbox" value="" id="rememberPasswordCheck">
                                            <label class="form-check-label" for="rememberPasswordCheck">
                                                Remember password
                                            </label>
                                        </div>
                                        <div>
                                            <label class="form-check-label">
                                                <p class="" style="color:black">
                                                    No Account Yet?
                                                    <a class="link-danger" style="color:blue" asp-action="Register" asp-controller="Account">Sign up</a>
                                                </p>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="d-grid">
                                        <button class="btn btn-lg btn-primary btn-login text-uppercase fw-bold mb-2" type="submit">Sign in</button>
                                        <div class="text-center">
                                            <a class="small" asp-action="Forget" asp-controller="Account">Forgot password?</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="kanawan col-md-8 col-lg-6">
                <div class="right d-flex align-items-center py-5">
                </div>
            </div>
        </div>
    </div>
    <script>
        var currentHour = new Date().getHours();
        var greetingElement = document.getElementById("greeting");
        if (currentHour >= 0 && currentHour < 12) {
            greetingElement.innerHTML = "<h1>GOOD MORNING</h1>";
        } else if (currentHour >= 12 && currentHour < 18) {
            greetingElement.innerHTML = "<h1>GOOD AFTERNOON</h1>";
        } else {
            greetingElement.innerHTML = "<h1>GOOD EVENING</h1>";
        }
    </script>

    @{
        if (TempData["Error"] != null)
        {
            <script>

                window.onload = function () {
                    alert("@TempData["Error"]");
                };
            </script>
        }
    }
</body>
</html>
