@{
    ViewData["Title"] = "Login";
}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="~/https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/fonts/icomoon/style.css">

    <link href="~/fonts/style.css" rel="stylesheet" />



    <!-- Style -->
    <link href="~/css/first/login.css" rel="stylesheet" />

    <title>Login #2</title>
</head>
<body>
    @{
        if (TempData["Error"] != null)
        {
            <script>
                alert("@TempData["Error"]");
            </script>
        }
    }
    <header>
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <div class="navbar-header">
                    <span>
                        <i class="fas fa-bars menu-icon"></i>
                        <img src="~/css/logo.png" class="logonav" alt="logoimage1" style="width:80px;height:auto">
                        <img src="~/css/logo2.png" class="logonav2" alt="logoimage2" style="width:150px;height:auto">

                    </span>
                </div>
                <div class="collapse navbar-collapse justify-content-end" id="navbar">
                    <ul class="navbar-nav ml-auto navbar-right">
                        <li class="nav-item active">
                            <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" asp-controller="Gallery" asp-action="Index">Gallery</a>
                        </li>
                        <li class="nav-item active ">
                            <a class="nav-link" asp-controller="Packages" asp-action="Index">Packages</a>
                        </li>
                        <li class="nav-item dropdown active">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Booking
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" asp-controller="Booking" asp-action="Index">Create Booking</a>
                                <a class="dropdown-item" asp-controller="Booking" asp-action="BList">Booking List</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown active">
                            
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Inquiry
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" asp-controller="Inquiry" asp-action="clientInquiry">Create Inquiry</a>
                                <a class="dropdown-item" asp-controller="Inquiry" asp-action="Inquirylist">Inquiry List</a>
                                </div>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" asp-action="Index" asp-controller="Account">
                                Login
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container-fluid ps-md-0">
        <div class="row g-0">

            <div class="col-md-8 col-lg-6">
                <div class="login d-flex align-items-center py-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-9 col-lg-8 mx-auto">
                                <div class="greeting-container">
                                    <h3 id="greeting"><strong></strong></h3>
                                </div>
                                <form asp-action="loginUser" method="post">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="floatingInput" placeholder="username" name="UserName">
                                        <label for="floatingInput">Username</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
                                        <label for="floatingPassword">Password</label>
                                    </div>

                                    <div class="form-check mb-3">
                                        <input class="form-check-input" type="checkbox" value="" id="rememberPasswordCheck">
                                        <label class="form-check-label" for="rememberPasswordCheck">
                                            Remember password
                                        </label>
                                        <label class="form-check-label" style="margin-left:250px">
                                            <p class="" style="color:black">
                                                No Acccount Yet?
                                                <a class="link-danger" style="color:blue" asp-action="Register" asp-controller="Account">Sign up</a>
                                            </p>
                                        </label>
                                    </div>
                                    <div class="d-grid">
                                        <button class="btn btn-lg btn-primary btn-login text-uppercase fw-bold mb-2" type="submit">Sign in</button>
                                        <div class="text-center">
                                            <a class="small" asp-action="Forget" asp-controller="Account">Forgot password?</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image">
                <div class="d-lg-flex half">
                    <div class="d-lg-flex half"></div>
                    <div class="bg order-1 order-md-2" id="img1">
                        <img src="~/css/img2.jpg" style="margin-left:-80px;transform:rotate(-10deg)" />
                    </div>
                    <div class="bg order-1 order-md-2" id="img1">
                        <img src="~/css/img1.jpg" style="margin-left:210px; z-index:3" />
                    </div>
                    <div class="bg order-1 order-md-2" id="img1">
                        <img src="~/css/img3.jpg" style="margin-left:500px; transform:rotate(10deg)" />
                    </div>
                    <div style="position:relative; left:450px; top:580px">
                        <h2 class="tag">YOUR<STRONG>STUDIO</STRONG></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var currentHour = new Date().getHours();

        var greetingElement = document.getElementById("greeting");

        if (currentHour >= 0 && currentHour < 12) {
            greetingElement.innerHTML = "<h1>GOOD MORNING</h1>";
        } else if (currentHour >= 12 && currentHour < 18) {
            greetingElement.innerHTML = "<h1>GOOD AFTERNOON</h1>";
        } else {
            greetingElement.innerHTML = "<h1>GOOD EVENING</h1>";
        }
    </script>
</body>
</html>