@{
    ViewData["Title"] = "Reg";
}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="~/https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <link href="~/fonts/style.css" rel="stylesheet" />
    <!-- Bootstrap CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/first/reg.css" rel="stylesheet" />
    <title>Register</title>
</head>
<body>
<header>
        <div class="container-fluid">
            <div class="row">
                <!-- Left side content, taking up 50% -->
                <div class="col-md-6">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">

                        <span>
                            <a href="#" class=""></a>
                            <img src="~/logo.png" class="logonav" alt="" id="img2">
                            <img src="~/logo2.png" class="logonav2" alt="" id="img2">
                        </span>
                    </a>
                   
                </div>
                <!-- Right side content, taking up 50% -->
                <div class="col-md-6" style="background-color:#FDF8F2">
                    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light " style="background-color:#FDF8F2">
                        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end" style="background-color:#FDF8F2">
                            <ul class="navbar-nav" >
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Gallery" asp-action="Index">Gallery</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Packages" asp-action="Index">Packages</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Booking" asp-action="Index">Booking</a>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Inquiry" asp-action="clientInquiry">Inquiry</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Index">Login</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>

<div class="d-lg-flex half" style="background-color:#FDF8F2;">
    <div class="d-lg-flex half">
        <div class="d-lg-flex half"></div>

        <div class="bg order-1 order-md-2" id="img2">
            <img src="~/reg1.jpg" style="margin-left:1050px; transform:rotate(-10deg)"/>
        </div>
        <div class="bg order-1 order-md-2" id="img2">
            <img src="~/greg2.jpg" style="margin-left:1300px; z-index:3"/>
        </div>
        <div class="bg order-1 order-md-2" id="img2">
            <img src="~/reg3.jpg" style="margin-left:1550px; transform:rotate(10deg)"/>
            <p class="signing-in-text">YOUR </p>
            <p class="your-signing-in-text">SIGNING!</p>
        </div>
    </div>

    <div class="contents order-2 order-md-1">
        <div class="container">
            <div class="row align-items-center justify-content-center" style="background-color:white">
                <div class="col-md-7">
                    <div class="greeting-container">
                        <h3 id="greeting"><strong></strong></h3>
                    </div>
                    <div>
                    </div>
                    <form asp-action="AddUser" method="post">
                        <div class="form-group first">
                            <input type="text" class="form-control" name="UserName" placeholder="Username" id="username">
                        </div>
                        <div class="form-group last mb-3">
                            <input type="password" class="form-control" name="password" placeholder="Password" id="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
                        </div>
                        <div class="form-group first">
                            <input type="password" class="form-control" placeholder="Confirm Password" id="password">
                        </div>
                        <div class="form-group last mb-3">
                            <input type="text" class="form-control" name="Email" placeholder="Email Address" id="password">
                        </div>
                        <div class="form-group last mb-3">
                            <input type="text" class="form-control" name="mobileNumber" placeholder="Phone Number" id="password">
                        </div>

                        <div class="d-flex mb-5 align-items-center">
                            <input class="form-check-input" type="checkbox" style="margin-left:11" value="" id="termsCheck" required>
                            <label class="form-check-label" for="termsCheck" style="font-family:Calibri;">
                                By signing up, you agree to Your Studio's' <a href="#" style="color: black; font-family:Calibri">Terms and Conditions</a>and <a href="#" style="color:black; font-family:Calibri ">Privacy Policy</a>
                            </label>
                        </div>
                        <input type="submit" value="REGISTER" class="btn btn-block btn-primary" style="font-family:'Palatino Linotype';font-size:30px">
                        <div class="d-flex mb-5 align-items-center text-center">
                            <p class="mx-auto" style="color: black; margin-top:20px; font-size:20px">
                                Already have an account? <a class="link-danger" style="color: blue;" asp-action="Index" asp-controller="Account">Login</a>
                            </p>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/jquery-3.3.1.min.js"></script>
<script src="~/js/main.js"></script>
<script src="~/js/popper.min.js"></script>
<script>
        var currentHour = new Date().getHours();

        var greetingElement = document.getElementById("greeting");

        if (currentHour >= 0 && currentHour < 12) {
            greetingElement.innerHTML = "<h1>GOOD MORNING</h1>";
        } else if (currentHour >= 12 && currentHour < 18) {
            greetingElement.innerHTML = "<h1>GOOD AFTERNOON</h1>";
        } else {
            greetingElement.innerHTML = "<h1>GOOD EVENING</h1>";
        }
    </script>
</body>
</html>