@{
    ViewData["Title"] = "Reg";
}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="~/https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <link href="~/fonts/style.css" rel="stylesheet" />
    <!-- Bootstrap CSS -->
    <link href="~/css/first/reg.css" rel="stylesheet" />
    <title>Register</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <span>
                        <i class="fas fa-bars menu-icon"></i>
                        <img src="~/css/logo.png" class="logonav" alt="logoimage1" style="width:80px;height:auto">
                        <img src="~/css/logo2.png" class="logonav2" alt="logoimage2" style="width:150px;height:auto">
                    </span>
                </div>
                <div class="navbar-links">
                    <ul class="navbar-nav ml-auto navbar-orange">
                        <li class="nav-item active">
                            <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" asp-controller="Gallery" asp-action="Index">Gallery</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" asp-controller="Packages" asp-action="Index">Packages</a>
                        </li>
                        <li class="nav-item dropdown active">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Booking
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
                                <a class="dropdown-item" asp-controller="Booking" asp-action="Index">Create Booking</a>
                                <a class="dropdown-item" asp-controller="Booking" asp-action="BList">Booking List</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown active">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Inquiry
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
                                <a class="dropdown-item" asp-controller="Inquiry" asp-action="clientInquiry">Create Inquiry</a>
                                <a class="dropdown-item" asp-controller="Inquiry" asp-action="Inquirylist">Inquiry List</a>
                            </div>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" asp-action="Index" asp-controller="Account">
                                Login
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid ps-md-0">
        <div class="row g-0">
            <div class="col-md-8 col-lg-6">
                <div class="login d-flex align-items-center py-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-9 col-lg-8 mx-auto">
                                <div class="greeting-container">
                                    <h3 id="greeting"><strong></strong></h3>
                                </div>
                                <form asp-action="AddUser" method="post">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com" name="UserName" required="required">
                                        <label for="floatingInput">Username</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required="required">
                                        <label for="floatingPassword">Password</label>
                                        <div class="invalid-feedback">
                                            Password must contain at least 1 uppercase, 1 number, and be more than 8 characters long.
                                        </div>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="password" class="form-control" id="floatingPassword" placeholder="Confirm Password" name="confirmPassword" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required="required">
                                        <label for="floatingPassword">Confirm Password</label>
                                        <div class="invalid-feedback">
                                            Password and Confirm Password must match.
                                        </div>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="email" class="form-control" id="floatingPassword" placeholder="Password" name="Email" required="required">
                                        <label for="floatingPassword">Email Address</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="tel" class="form-control" id="floatingPassword" placeholder="Enter Philippine phone number" name="mobileNumber" pattern="^(09|\+639)\d{9}$" minlength="11" maxlength="11" required>
                                        <label for="floatingPassword">Phone Number</label>
                                    </div>
                                    <div class="d-flex mb-5 align-items-center">
                                        <input class="form-check-input" type="checkbox" style="margin-left:11" value="" id="termsCheck" required>
                                        <label class="form-check-label" for="termsCheck" style="font-family:Calibri;">
                                            By signing up, you agree to Your Studio's' <a class="link-danger" style="color:blue" asp-action="Terms" asp-controller="Account"> Terms of Conditions and Privacy Policy</a>
                                        </label>
                                    </div>
                                    <div class="d-grid">
                                        <button class="btn btn-lg btn-primary btn-login text-uppercase fw-bold mb-2" type="submit">REGISTER</button>
                                        <div class="text-center">
                                            <p class="mx-auto" style="color: black; margin-top:20px; font-size:20px">
                                                Already have an account? <a class="link-danger" style="color: blue;" asp-action="Index" asp-controller="Account">Login</a>
                                            </p>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image">
                <div class="d-lg-flex half">
                    <div class="d-lg-flex half"></div>
                    <div class="bg order-1 order-md-2" id="img1">
                        <img src="~/greg2.JPG" style="margin-left:-80px;transform:rotate(-10deg)" />
                    </div>
                    <div class="bg order-1 order-md-2" id="img1">
                        <img src="~/css/reg1.JPG" style="margin-left:210px; z-index:3" />
                    </div>
                    <div class="bg order-1 order-md-2" id="img1">
                        <img src="~/reg3.JPG" style="margin-left:470px; transform:rotate(10deg)" />
                    </div>
                    <div style="position:relative; left:450px; top:580px">
                        <h2 class="tag">YOUR<STRONG>STUDIO</STRONG></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var currentHour = new Date().getHours();

        var greetingElement = document.getElementById("greeting");

        if (currentHour >= 0 && currentHour < 12) {
            greetingElement.innerHTML = "<h1>GOOD MORNING</h1>";
        } else if (currentHour >= 12 && currentHour < 18) {
            greetingElement.innerHTML = "<h1>GOOD AFTERNOON</h1>";
        } else {
            greetingElement.innerHTML = "<h1>GOOD EVENING</h1>";
        }
        var passwordInput = document.querySelector('input[name="password"]');
        var confirmPasswordInput = document.querySelector('input[name="confirmPassword"]');

        passwordInput.addEventListener('input', function () {
            if (passwordInput.value.match(/(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}/)) {
                passwordInput.setCustomValidity('');
            } else {
                passwordInput.setCustomValidity('Password must contain at least 1 uppercase, 1 number, and should be more than 8 characters long.');
            }
        });

        confirmPasswordInput.addEventListener('input', function () {
            if (confirmPasswordInput.value === passwordInput.value) {
                confirmPasswordInput.setCustomValidity('');
            } else {
                confirmPasswordInput.setCustomValidity('Password and Confirm Password must match.');
            }
        });
    </script>
</body>
</html>