@{
    ViewData["Title"] = "Reg";
}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">

    <link href="~/css/first/reg.css" rel="stylesheet" />
    <!-- Bootstrap CSS -->
    <title>Register</title>
    <style>

        #registerButton {
            opacity: 0.5;
            pointer-events: none;
        }

        #registration-form:valid #registerButton {
            opacity: 1;
            pointer-events: auto;
        }

        .form-floating {
            position: relative;
        }

        .field-icon {
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
            cursor: pointer;
        }

        .navbar {
            width: 100%;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 9999;
        }
    </style>
</head>
<body>
    <header>
    </header>
    <div class="body-bg">
        <div class="row g-0">
            <div class="col-md-8 col-lg-6">
                <div class="login d-flex align-items-center py-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-9 col-lg-8 mx-auto">
                                <div class="greeting-container">
                                    <h3 id="greeting"><strong></strong></h3>
                                </div>
                                <form asp-action="AddUser" method="post" id="registration-form">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="floatingFname" placeholder="John" name="Fname" required onchange="this.nextElementSibling.focus()">
                                        <label for="floatingFname">First Name</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="floatingLname" placeholder="Doe" name="Lname" required onchange="this.nextElementSibling.focus()">
                                        <label for="floatingLname">Last Name</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com" name="UserName" required onchange="this.nextElementSibling.focus()">
                                        <label for="floatingInput">Username</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required onchange="this.nextElementSibling.focus()">
                                        <label for="floatingPassword">Password</label>
                                        <span class="fa fa-fw fa-eye field-icon toggle-password"></span>
                                        <small id="passwordFormat" class="form-text text-muted">Password must contain at least 1 uppercase letter, 1 lowercase letter, 1 number, and be at least 8 characters long.</small>
                                        <div class="invalid-feedback">
                                            Password must contain at least 1 uppercase letter, 1 number, and be at least 8 characters long.
                                        </div>
                                    </div>

                                    <div class="form-floating mb-3">
                                        <input type="password" class="form-control" id="floatingConfirmPassword" placeholder="Confirm Password" name="confirmPassword" required onchange="this.nextElementSibling.focus()">
                                        <label for="floatingConfirmPassword">Confirm Password</label>
                                        <span class="fa fa-fw fa-eye field-icon toggle-confirm-password"></span>
                                        <small id="confirmPasswordFeedback" class="form-text text-muted position-absolute top-0 start-0 translate-middle-y" style="display: none; z-index: 10;"></small>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="email" class="form-control" id="floatingEmail" placeholder="name@example.com" name="Email" required onchange="this.nextElementSibling.focus()">
                                        <label for="floatingEmail">Email Address</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <div class="row">
                                            <div class="col-auto" style="width: 80px;background-color:#F5F2F0;">
                                                <input class="form-control" value="+63" readonly>
                                            </div>
                                            <div class="col">
                                                <input class="form-control" id="mobileNumber" placeholder="Enter remaining digits" name="mobileNumber" pattern="^\d{10}$" minlength="10" maxlength="10" required onchange="this.nextElementSibling.focus()">
                                            </div>
                                        </div>
                                        <label for="mobileNumber"></label>
                                    </div>
                                    <div class="form-check mb-3">
                                        <input class="form-check-input" type="checkbox" value="" id="rememberPasswordCheck" required onchange="this.nextElementSibling.focus()">
                                        <label class="form-check-label" for="rememberPasswordCheck">
                                            By signing up, you agree to Your Studio's' <a class="link black-link" asp-action="Terms" asp-controller="Account">Terms of Conditions and Privacy Policy</a>
                                        </label>
                                    </div>
                                    <div class="d-grid">
                                        <button id="registerButton" type="submit" class="btn btn-lg btn-primary btn-login text-uppercase fw-bold mb-2" asp-action="validateAccount" asp-controller="Account">REGISTER</button>
                                        <div class="text-center">
                                            <p class="mx-auto" style="color: black; margin-top:20px; font-size:20px">
                                                Already have an account? <a class="link-danger" style="color: blue;" asp-action="Index" asp-controller="Account">Login</a>
                                            </p>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="kanawan col-md-8 col-lg-6">
                <div class="right d-flex align-items-center py-5">
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/register.js"></script>
    <script>
        window.onload = function () {
            const kanawan = document.querySelector('.kanawan');
            const resizeBackground = () => {
                const zoomLevel = window.devicePixelRatio;
                const width = kanawan.offsetWidth * zoomLevel;
                const height = kanawan.offsetHeight * zoomLevel;
                kanawan.style.backgroundSize = `${width}px ${height}px`;
            };
            window.addEventListener('resize', resizeBackground);
            resizeBackground();
        };
    </script>
    <script>
        const passwordField = document.getElementById("floatingPassword");
        const togglePassword = document.querySelector(".toggle-password");

        togglePassword.addEventListener("click", function () {
            if (passwordField.type === "password") {
                passwordField.type = "text";
                togglePassword.classList.remove("fa-eye");
                togglePassword.classList.add("fa-eye-slash");
            } else {
                passwordField.type = "password";
                togglePassword.classList.remove("fa-eye-slash");
                togglePassword.classList.add("fa-eye");
            }
        });

    </script>

    <script>
        const confirmPasswordField = document.getElementById("floatingConfirmPassword");
        const toggleConfirmPassword = document.querySelector(".toggle-confirm-password");

        toggleConfirmPassword.addEventListener("click", function () {
            if (confirmPasswordField.type === "password") {
                confirmPasswordField.type = "text";
                toggleConfirmPassword.classList.remove("fa-eye");
                toggleConfirmPassword.classList.add("fa-eye-slash");
            } else {
                confirmPasswordField.type = "password";
                toggleConfirmPassword.classList.remove("fa-eye-slash");
                toggleConfirmPassword.classList.add("fa-eye");
            }
        });
    </script>
    <script>
        document.getElementById('floatingPassword').addEventListener('focus', function () {
            toggleVisibility('passwordFormat', true);
        });

        document.getElementById('floatingPassword').addEventListener('blur', function () {
            toggleVisibility('passwordFormat', false);
        });

        function toggleVisibility(elementId, show) {
            var element = document.getElementById(elementId);
            if (show) {
                element.style.display = 'block';
            } else {
                element.style.display = 'none';
            }
        }

        function togglePasswordVisibility(inputId) {
            var passwordInput = document.getElementById(inputId);
            var icon = passwordInput.nextElementSibling;
            if (passwordInput.type === "password") {
                passwordInput.type = "text";
                icon.classList.remove("fa-eye");
                icon.classList.add("fa-eye-slash");
            } else {
                passwordInput.type = "password";
                icon.classList.remove("fa-eye-slash");
                icon.classList.add("fa-eye");
            }
        }
    </script>

</body>
</html>