@{
    ViewData["Title"] = "Reg";
}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <link href="~/https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <link href="~/fonts/style.css" rel="stylesheet" />
    <!-- Bootstrap CSS -->
    <link href="~/css/first/reg.css" rel="stylesheet" />
    <title>Register</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light fixed-top">
            <div class="container-fluid navbar-bg">
                <div class="navbar-header">
                    <span>
                        <i class="fas fa-bars menu-icon"></i>
                        <img src="~/css/logo.png" class="logonav" alt="logoimage1" style="width:80px;height:auto">
                        <img src="~/css/logo2.png" class="logonav2" alt="logoimage2" style="width:150px;height:auto">
                    </span>
                </div>
                <div class="navbar-links">
                    <ul class="navbar-nav ml-auto navbar-orange">
                        <li class="nav-item active">
                            <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" asp-controller="Gallery" asp-action="Index">Gallery</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" asp-controller="Packages" asp-action="Index">Packages</a>
                        </li>
                        <li class="nav-item dropdown active">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Booking
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1" style="z-index: 1000;">
                                <a class="dropdown-item" asp-controller="Booking" asp-action="Index">Create Booking</a>
                                <a class="dropdown-item" asp-controller="Booking" asp-action="BList">Booking List</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown active">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Inquiry
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2" style="z-index: 1000;">
                                <a class="dropdown-item" asp-controller="Inquiry" asp-action="clientInquiry">Create Inquiry</a>
                                <a class="dropdown-item" asp-controller="Inquiry" asp-action="Inquirylist">Inquiry List</a>
                            </div>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" asp-action="Index" asp-controller="Account">
                                Sign Up
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="body-bg">
        <div class="row g-0">
            <div class="col-md-8 col-lg-6">
                <div class="login d-flex align-items-center py-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-9 col-lg-8 mx-auto">
                                <div class="greeting-container">
                                    <h3 id="greeting"><strong></strong></h3>
                                </div>
                                <form asp-action="AddUser" method="post" id="registration-form">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com" name="UserName" required="required">
                                        <label for="floatingInput">Username</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required="required">
                                        <label for="floatingPassword">Password</label>
                                        <div class="invalid-feedback">
                                            Password must contain at least 1 uppercase, 1 number, and be more than 8 characters long.
                                        </div>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="password" class="form-control" id="floatingPassword" placeholder="Confirm Password" name="confirmPassword" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required="required">
                                        <label for="floatingPassword">Confirm Password</label>
                                        <div class="invalid-feedback">
                                            Password and Confirm Password must match.
                                        </div>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="email" class="form-control" id="floatingEmail" placeholder="name@example.com" name="Email" required>
                                        <label for="floatingEmail">Email Address</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <div class="row">
                                            <div class="col-auto" style="width: 80px;background-color:#F5F2F0;">
                                                <input class="form-control" value="+63" readonly>
                                            </div>
                                            <div class="col">
                                                <input class="form-control" id="mobileNumber" placeholder="Enter remaining digits" name="mobileNumber" pattern="^\d{10}$" minlength="10" maxlength="10" required>
                                            </div>
                                        </div>
                                        <label for="mobileNumber"></label>
                                    </div>
                                    <div class="form-check mb-3">
                                        <input class="form-check-input" type="checkbox" value="" id="rememberPasswordCheck" required>
                                        <label class="form-check-label" for="rememberPasswordCheck">
                                            By signing up, you agree to Your Studio's' <a class="link black-link" asp-action="Terms" asp-controller="Account">Terms of Conditions and Privacy Policy</a>

                                        </label>

                                    </div>
                                    <div class="d-grid">
                                        <button  type="submit" class="btn btn-lg btn-primary btn-login text-uppercase fw-bold mb-2" >REGISTER</button>
                                       @*  <button id="registerButton" type="submit" class="btn btn-lg btn-primary btn-login text-uppercase fw-bold mb-2" disabled>REGISTER</button> *@


                                        <div class="text-center">
                                            <p class="mx-auto" style="color: black; margin-top:20px; font-size:20px">
                                                Already have an account? <a class="link-danger" style="color: blue;" asp-action="Index" asp-controller="Account">Login</a>
                                            </p>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="kanawan col-md-8 col-lg-6">
                <div class="right d-flex align-items-center py-5">
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/register.js"></script>
    <script>

    </script>



</body>
</html>