.menu {
    height: 100%;
    width: 80px;
}

.fa-li {
    position: relative;
    left: 0;
}

.menu-icon {
    display: inline-block;
    font-size: 24px;
    margin: 20px 0px 10px 0px;
    float: left;
    color: #333;
}

    .menu-icon:before {
        content: "\f0c9";
    }

    .menu-icon:hover:before {
        content: "\f00d";
    }

.navbar-nav {
    float: right;
}

.logonav {
    height: 100%;
    width: 80px;
    margin-top: -5px;
}

.logonav2 {
    height: 100%;
    width: 200px;
    margin-left: -30px;
    margin-top: -15px;
}

.topnav {
    margin-top: 100px;
}

.collapse.navbar-collapse {
    justify-content: flex-end;
}

#YB {
    font-family: 'Palatino Linotype';
    font-size: 36px;
    font-style: italic;
    font-weight: bold;
    position: absolute;
    left: 0;
    margin-left: 70px;
}

#VL {
    position: absolute;
    top: 103px;
    bottom: 0;
    width: 5px;
    background-color: #ccc;
    margin-left: 380px;
    height: 1000px;
}

#VL2 {
    position: absolute;
    top: -20px;
    bottom: 0;
    right: 400px;
    width: 5px;
    background-color: #ccc;
    margin-left: 150px;
    height: 500px;
}

.blist {
    position: relative;
    top: 60px;
    margin-left: 65px;
    background-color: white;
    border-radius: 5px;
    padding: 0px 20px 0px 20px;
    color: black;
    border: 1px solid black;
    width: 300px;
    padding: 5px;
    margin-top: 5px;
}

    .blist:hover {
        background-color: #FFA629;
    }

.ftco-section {
    display: none;
    position: absolute;
    margin: 20px 0 0 700px;
}

.calendar {
    margin-top: 130px;
}

.time-container {
    display: none;
}

    .time-container .time {
        position: relative;
        margin: 300px 0 400px 750px;
    }

#btn-row {
    display: flex;
    margin-left: 50px;
}

.btn-row > div {
    margin: 5px;
}

.btnT {
    display: inline-block;
    padding: 5px 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    color: #333;
    background-color: white;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    transition: background-color 0.2s ease-in-out;
}

.ui-datepicker-prev, .ui-datepicker-next {
    display: none;
}

.ui-state-highlight {
    background: none;
}

.ui-datepicker {
    pointer-events: none;
}

.btnB {
    padding: 5px 10px;
    margin: 5px;
    background-color: black;
    color: white;
    font-size: 20px;
    text-align: center;
}

#Srvc {
    position: absolute;
    top: 300px;
    left: 1400px;
    font-family: 'Palatino Linotype';
}

    #Srvc #SrvcDtl {
        font-weight: bold;
        font-size: 36px;
        font-family: 'Palatino Linotype';
    }

#btnG {
    background-color: limegreen;
    border: hidden
}

#btnR {
    background-color: red;
    border: hidden;
}

#btnGR {
    background-color: gray;
    border: hidden;
}

#details {
    position: absolute;
    top: 300px;
    left: 1400px;
    font-family: 'Palatino Linotype';
}