.menu {
    height: 100%;
    width: 80px;
    margin-top: -8px;
    margin-left: -190px
}

.wrapper-nav {
    width: 100%;
    margin-bottom: -20px;
}

.wrapper-navbar-logo {
    width: fit-content;
    height: 100%;
}

    .wrapper-navbar-logo img {
        height: 40px;
        margin: -120px -120px 0 100px;
    }

.nav-item {
    gap: 5px;
}

.logonav {
    margin-left: 90px;
    height: 100%;
    width: 80px;
}

.logonav2 {
    height: 100%;
    width: 200px;
    margin-left: -20px;
}

.topnav {
    margin-top: 250px;
}

.fa-bars {
    color: black;
    margin-top: -16px;
    position: relative;
    top: 62px;
    margin-left: 50px;
}

.button {
    width: 170px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #E89C3B;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin-top: 55px;
    font-weight: bolder;
    margin-left: 70px;
}

.navbar-nav {
    font-family: 'Calibri';
    font-size: 19px;
    gap: 20px;
    margin-left: -20px;
}

.menu-adjust {
    margin-top: 30px;
}

#navbar {
    margin-left: -85px;
    display: flex;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

    /* The navigation menu links */
    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

        /* When you mouse over the navigation links, change their color */
        .sidenav a:hover {
            color: #f1f1f1;
        }

    /* Position and style the close button (top right corner) */
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }


.containers {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

/* xs */
@media (min-width: 475px) {
    .containers {
        max-width: 475px;
    }

    #VL {
        margin-left: 170px;
    }

    #VL2 {
        display: none;
    }

    .blist {
        margin-right: 300px;
    }

    .time-container .time {
        margin: 220px 0 0 230px;
    }

    #Srvc {
        margin-top: 20px;
        margin-left: 190px;
    }

        #Srvc #SrvcDtl {
            font-size: 30px;
        }

    #YB {
        margin-left: 90px;
    }

    .ftco-section {
        margin: -30px 0 0 170px;
    }

    #btnG {
        margin-left: 15px;
    }

    #btnBL {
        margin-left: 40px;
    }
}

/* sm */
@media (min-width: 640px) {
    .containers {
        max-width: 640px;
    }

    #VL {
        margin-left: 170px;
    }

    .blist {
        margin-right: 460px;
    }

    .time-container .time {
        margin: 300px 0 0 320px;
    }

    #Srvc {
        margin-top: 20px;
        margin-left: 240px;
    }

        #Srvc #SrvcDtl {
            font-size: 30px;
        }

    #YB {
        margin-left: 170px;
    }

    .ftco-section {
        margin: 20px 0 0 270px;
    }

    #btnG {
        margin-left: -1px;
    }

    #btnBL {
        margin-left: unset;
    }
}

/* md */
@media (min-width: 768px) {
    .containers {
        max-width: 768px;
    }

    #VL {
        margin-left: 310px;
    }

    .blist {
        margin-right: 450px;
    }

    .time-container .time {
        margin: 300px 0 0 450px;
    }

    #Srvc {
        margin-top: 20px;
        margin-left: 365px;
    }

        #Srvc #SrvcDtl {
            font-size: 30px;
        }

    #YB {
        margin-left: 250px;
    }

    .ftco-section {
        margin: 20px 0 0 400px;
    }

    #btnG {
        margin-left: 15px;
    }
}

/* lg */
@media (min-width: 1024px) {
    .containers {
        max-width: 1024px;
    }

    #VL {
        margin-left: 330px;
    }

    .blist {
        margin-right: 690px;
    }

    .time-container .time {
        margin: 300px 0 0 600px;
    }

    #Srvc {
        margin-top: 20px;
        margin-left: 520px;
    }

        #Srvc #SrvcDtl {
            font-size: 30px;
        }

    #YB {
        margin-left: 330px;
    }

    .ftco-section {
        margin: 20px 0 0 550px;
    }

    #btnG {
        margin-left: 15px;
    }

    #btnBL {
        margin-left: unset;
    }
}

/* xl */
@media (min-width: 1280px) {
    .containers {
        max-width: 1280px;
    }

    #VL {
        margin-left: 310px;
    }

    .blist {
        margin-right: 960px;
    }

    .time-container .time {
        margin: 400px 0 0 500px;
    }

    #VL2 {
        display: block;
    }

    #Srvc {
        top: 400px;
        left: 700px;
        margin-top: 20px;
        margin-left: 230px;
    }

        #Srvc #SrvcDtl {
            font-size: 30px;
        }

    #YB {
        margin-left: unset;
    }

    .ftco-section {
        margin: 40px 0 0 450px;
    }

    #btnG {
        margin-left: 15px;
    }

    #btnBL {
        margin-left: unset;
    }
}

/* 2xl */
@media (min-width: 1536px) {
    .containers {
        max-width: 1536px;
    }

    #VL {
        margin-left: 380px;
    }

    .blist {
        margin-right: 1150px;
    }

    .time-container .time {
        margin: 300px 0 0 650px;
    }

    #Srvc {
        left: 1000px;
        margin-top: 20px;
        margin-left: 230px;
    }

        #Srvc #SrvcDtl {
            font-size: 30px;
        }

    #YB {
        margin-left: 60px;
    }

    .ftco-section {
        margin: 20px 0 0 600px;
    }

    #btnG {
        margin-left: 15px;
    }

    #btnBL {
        margin-left: unset;
    }
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#YB {
    font-family: 'Palatino Linotype';
    font-size: 36px;
    font-style: italic;
    font-weight: bold;
    position: absolute;
}

#VL {
    position: absolute;
    top: 200px;
    width: 5px;
    background-color: #ccc;
    height: 100%;
}

#VL2 {
    position: absolute;
    top: -110px;
    bottom: 0;
    right: 400px;
    width: 5px;
    background-color: #ccc;
    margin-left: 150px;
    height: 500px;
}

.blist {
    top: 100px;
    position: relative;
    background-color: white;
    border-radius: 5px;
    color: black;
    border: 1px solid black;
    padding: 5px;
    margin-top: 5px;
}

    .blist:hover {
        background-color: #FFA629;
    }

    .blist:first-child {
        margin-top: 500px;
    }

.ftco-section {
    display: none;
    position: absolute;
}

.calendar {
    margin-top: 130px;
}

.time-container {
    display: none;
}

    .time-container .time {
        position: relative;
    }

#btn-row {
    display: flex;
    margin-left: 50px;
}

.btn-row > div {
    margin: 5px;
}

.btnT {
    display: inline-block;
    padding: 5px 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    color: #333;
    background-color: white;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    transition: background-color 0.2s ease-in-out;
}

.ui-datepicker-prev, .ui-datepicker-next {
    display: none;
}

.ui-state-highlight {
    background: none;
}

.ui-datepicker {
    pointer-events: none;
}

.btnB {
    padding: 5px 10px;
    margin: 5px;
    background-color: black;
    color: white;
    font-size: 20px;
    text-align: center;
}

#Srvc {
    text-align: center;
    position: absolute;
    font-family: 'Palatino Linotype';
}

    #Srvc #SrvcDtl {
        font-weight: bold;
        font-family: 'Palatino Linotype';
    }

#btnG {
    background-color: limegreen;
    border: hidden
}

#btnR {
    background-color: red;
    border: hidden;
}

#btnGR {
    background-color: gray;
    border: hidden;
}

#details {
    position: absolute;
    top: 300px;
    left: 1400px;
    font-family: 'Palatino Linotype';
}

body {
    background-image: url(../../wwwroot/photos/Background.png);
}