body {
    background-image: url('../first/background.png');
   
}

.wrapper-nav {
    width: 100%;
    margin-bottom: 20px;
}

.wrapper-navbar-logo {
    width: fit-content;
    height: 100%;
}

    .wrapper-navbar-logo img {
        height: 40px;
        margin: -60px -120px 0 100px;
    }

.wrapper-navbar-menu {
    width: fit-content;
    margin-top: -65px;
}

.wrapper-packages {
    width: 100%
}

html {
    background-image: url('../first/background.png');
}

.text-center {
    text-align: center;
}

.mb-4 {
    margin-top: 50px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}



.col-12 {
    margin-left: 20px;
}

.col-12,
.col-sm-10,
.col-md-4 {
    margin-bottom: 20px;
    width: 450px;
    margin-top: 500px;
    margin: auto;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}
/*.info-box {
    display: flex;
    flex-direction: column;
}
    .info-box div {
        margin-bottom: 10px;
    }
    .info-box h6 {
        margin: 0;*/ /* Remove default margin */
/*display: flex;
        align-items: center;
    }*/


.card-body {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    background-color: white;
    height: 640px;
    overflow-y: hidden;
    padding: 20px;
    overflow-x: hidden;
}

.booking-question {
    text-align: center;
    margin-bottom: 20px;
}

.details-wrapper {
    position: absolute;
    top: 470px;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    text-align: center;
    z-index: 1;
    border: 1px solid #fffcf4;
    padding: 10px;
    background-color: #fffcf4;
    border-radius: 6px;
    font-family: Calibri;
}


.dropitlow {
    display: block;
    width: 100%;
    height: calc(2.5rem + 2px);
    max-height: 120px;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fffcf4;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    font-family: 'Calibri';
    font-size: 20px;
    text-align: center;
    border: solid;
}

    .dropitlow option {
        font-size: 16px;
        color: #333;
        border: 1px solid #ccc;
        padding: 5px;
        display: inline-block;
        margin-bottom: 5px;
        background-color: #ebd57c;
        border-radius: 3px;
    }

#SrvcDtl {
    font-weight: bold;
    font-size: 25px;
    font-family: Verdana;
}

h6 {
    font-size: 15px;
}

.deets {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    text-align: center;
    z-index: 1;
    border: 1px solid #fffcf4;
    padding: 10px;
    background-color: #fffcf4;
    border-radius: 6px;
    align-items: center;
    justify-content: center;
    width: 70%;
    border-collapse: collapse;
    line-height: 1.5;
    margin-left: 10px;
    margin-right: 10px;
}

.price {
    font-family: Verdana
}


.topay {
    display: inline-block;
    border: 1px solid #ebd57c;
    padding: 2px 5px;
    background-color: #ebd57c;
    border-radius: 3px;
    height: 30px;
    width: 300px;
}

.butun {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    border-radius: 3px;
    color: white;
    font-size: 20px;
    border: 1px solid #ebd57c;
    margin: 5px;
    text-align: center;

    padding: 5px 10px;
    margin: 5px;
    background-color: black;
    color: white;
    font-size: 20px;
    text-align: center;
}

.payment-image {
    height: 250px;
    width: 200px;
    display: none;
    margin: 0 auto;
    margin-top: 40px
}

    .payment-image.active {
        display: block;
    }

.bQuest {
    font-weight: bold;
    font-size: 25px;
    font-family: Calibri
}

#imagePreview img {
    width: 280px;
    height: 350px;
    object-fit: cover;
}

.scrnsht {
    font-weight: bold;
    font-size: 25px;
    font-family: Calibri;
    line-height: 1;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.form-control {
    font-family: Montserrat;
    font-size: 18px;
    border: solid;
    margin-top: 10px;
}

h6 span {
    border: 1px solid #ccc;
    padding: 5px;
    display: inline-block;
    margin-bottom: 5px;
    background-color: #ebd57c;
    border-radius: 3px;
}

.custom-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 5px;
    font-family: 'Palatino Linotype'
}
    /* Style for table header */
    .custom-table th {
        height: 50px;
        width: 200px;
        text-align: left;
        padding: 0 10px;
    }
    /* Style for table data */
    .custom-table td {
        width: 250px;
        background-color: #ebd57c;
        border-radius: 3px;
    }

    .custom-table tr {
        width: 10%;
        border: none;
    }
