@model Inquiry

<html>
<head>
    <link rel="stylesheet" href="~/css/Inquiry/crtINQ.css" />
</head>

<body>

    <header>
    </header>


    <section class="container" style="
    margin-top: 35px;
">
        <section class="FAQcont" id="faq9">
            <span class="additional-text2">TERMS AND CONDITIONS</span>
            <span style="margin-top: -37px;" id="toggleText9" class="clickable-text" onclick="toggleMessage('toggleText9', 'hiddenMessage9')">V</span>

            <div id="hiddenMessage9" class="hidden-message">
                <br />
                <h2>1. Reservation and Booking:</h2>
                <ul>
                    <li>All photo sessions are subject to availability.</li>
                    <li>Bookings must be made in advance through Facebook Messenger, Instagram Direct Messaging, or via the website YourStudio.</li>
                </ul>
                <h2>2. Payment:</h2>
                <ul>
                    <li>A 50% down payment is required at the time of booking to secure the reservation.</li>
                    <li>Down payments are non-refundable, but rescheduling is permitted with prior notice.</li>
                </ul>
                <h2>3. Cancellation Policy:</h2>
                <ul>
                    <li>In the event of cancellation, a refund will not be provided.</li>
                    <li>Cancellations made with at least 48 hours' notice are eligible for rescheduling.</li>
                </ul>
                <h2>4. Studio Use:</h2>
                <ul>
                    <li>The home photo studio is to be used solely for photography purposes.</li>
                    <li>Any damage to equipment or property caused by the client will be the client's responsibility.</li>
                </ul>
                <h2>5. Props and Equipment:</h2>
                <ul>
                    <li>Clients are welcome to bring their own props or use those provided by the studio.</li>
                    <li>Studio equipment must be used responsibly, and any damage will incur additional charges.</li>
                </ul>
                <h2>6. Liability:</h2>
                <ul>
                    <li>The home photo studio owner is not responsible for any injuries or accidents that may occur during the photo session.</li>
                    <li>Clients are responsible for the well-being and supervision of their guests, including minors.</li>
                </ul>
                <h2>7. Privacy:</h2>
                <ul>
                    <li>Clients' privacy is respected, and images will not be shared without explicit consent.</li>
                    <li>The photographer may use select images for promotional purposes with client permission.</li>
                </ul>
                <h2>8. Rescheduling:</h2>
                <ul>
                    <li>Clients may request to reschedule a session with at least 48 hours' notice.</li>
                    <li>The studio owner reserves the right to reschedule due to unforeseen circumstances.</li>
                </ul>
                <h2>9. Code of Conduct:</h2>
                <ul>
                    <li>Clients are expected to conduct themselves in a respectful manner.</li>
                    <li>Inappropriate behavior will result in immediate termination of the photo session.</li>
                </ul>
                <h2>10. Agreement Acceptance:</h2>
                <ul>
                    <li>By booking a session, clients agree to abide by these terms and conditions.</li>
                </ul>
            </div>
            <hr />
        </section>
    </section>

    <section class="container">
        <div class="FAQ">
            <div>FREQUENTLY ASKED QUESTIONS</div>
        </div>

        <br />
        <section class="FAQcont" id="faq1">
            <div><strong>General |</strong> Photo Studio Experience</div>

            <br />
            <span class="additional-text">How do I book a session?</span>
            <span id="toggleText1" class="clickable-text" onclick="toggleMessage('toggleText1', 'hiddenMessage1')">V</span>

            <div id="hiddenMessage1" class="hidden-message">
                <br />
                <span>Visit this link to fill out our booking form <a style="color:blue; text-decoration: underline;" asp-controller="Booking" asp-action="Index">HERE!</a></span>
            </div>

            <hr />
        </section>

        <section class="FAQcont" id="faq2">
            <span class="additional-text">Is there a dressing room at the studio for outfit changes?</span>
            <span id="toggleText2" class="clickable-text" onclick="toggleMessage('toggleText2', 'hiddenMessage2')">V</span>

            <div id="hiddenMessage2" class="hidden-message">
                <br />
                <span><strong>YES!</strong> Feel free to change into your photoshoot attire at the studio</span>
            </div>

            <hr />
        </section>

        <section class="FAQcont" id="faq3">
            <span class="additional-text">Is there parking available outside the studio?</span>
            <span id="toggleText3" class="clickable-text" onclick="toggleMessage('toggleText3', 'hiddenMessage3')">V</span>

            <div id="hiddenMessage3" class="hidden-message">
                <br />
                <span>Yes, there are available parking.</span>
            </div>

            <hr />
        </section>

        <section class="FAQcont" id="faq4">
            <span class="additional-text">What are your open hours?</span>
            <span id="toggleText4" class="clickable-text" onclick="toggleMessage('toggleText4', 'hiddenMessage4')">V</span>

            <div id="hiddenMessage4" class="hidden-message">
                <br />
                <span><strong>Your Studio</strong> is open 9am - 6pm daily </span>
            </div>

            <hr />
        </section>

        <section class="FAQcont" id="faq5">
            <span class="additional-text">Do I need to make a downpayment upon booking?</span>
            <span id="toggleText5" class="clickable-text" onclick="toggleMessage('toggleText5', 'hiddenMessage5')">V</span>

            <div id="hiddenMessage5" class="hidden-message">
                <br />
                <span>Yup! We ask for an <strong>initial deposit of ₱500</strong> to secure your booking (THE REMAINING BALANCE CAN BE PAID ON THE DAY OF THE PHOTOSHOOT) </span>
            </div>

            <hr />
        </section>

        <section class="FAQcont" id="faq6">
            <span class="additional-text">Can we bring a cake for a cake smash set-up during the photoshoot?</span>
            <span id="toggleText6" class="clickable-text" onclick="toggleMessage('toggleText6', 'hiddenMessage6')">V</span>

            <div id="hiddenMessage6" class="hidden-message">
                <br />
                <span><strong>Sure!</strong> We're happy to accommodate it with a cleaning fee of <strong>₱300.</strong></span>
            </div>

            <hr />
        </section>

        <section class="FAQcont" id="faq7">
            <span class="additional-text">Can I bring props for the photoshoot?</span>
            <span id="toggleText7" class="clickable-text" onclick="toggleMessage('toggleText7', 'hiddenMessage7')">V</span>

            <div id="hiddenMessage7" class="hidden-message">
                <br />
                <span><strong>Of course!</strong> We love the creativity!</span>
            </div>

            <hr />
        </section>

        <section class="FAQcont" id="faq8">
            <span class="additional-text">Do you have any reccomendations for a hair & makeup artist?</span>
            <span id="toggleText8" class="clickable-text" onclick="toggleMessage('toggleText8', 'hiddenMessage8')">V</span>

            <div id="hiddenMessage8" class="hidden-message">
                <br />
                <span>Right now, we're not in partnership with any HMUA yet, but we'll let you know once we are</span>
            </div>

            <hr />
        </section>
    </section>

    <script>
        function toggleMessage(toggleTextId, hiddenMessageId) {
            var hiddenMessage = document.getElementById(hiddenMessageId);
            var toggleText = document.getElementById(toggleTextId);
            var currentDisplay = hiddenMessage.style.display;

            hiddenMessage.style.display = (currentDisplay === 'none') ? 'block' : 'none';
            toggleText.innerHTML = (currentDisplay === 'none') ? 'Λ' : 'V';
        }
    </script>


</body>
</html>

<footer>
    <div class="footer-container">
        <hr />
        <div class="social-icons">
            <a href="#" target="_blank"><i class="fas fa-envelope fa-2x"></i></a>
            <a href="https://www.facebook.com/YourStudio.bacoor " target="_blank"><i class="fab fa-facebook-f fa-2x"></i></a>
            <a href="https://www.instagram.com/yourstudio.bacoor/" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
        </div>
    </div>
    <p class="copyright">&copy; 2023 Your Studio</p>
</footer>