@model Inquiry

<html>
<head>
    <link rel="stylesheet" href="~/css/Inquiry/crtINQ.css" />
</head>

<body>

<header>
	<nav class="navbar navbar-expand-lg navbar-light">
		<div class="container-fluid">
			<div class="navbar-header">
				<span>
					<img src="~/photos/logo.png" class="logonav" alt="">
					<img src="~/photos/logo2.png" class="logonav2" alt="">
					<i class="fas fa-bars menu-icon"></i>
				</span>
			</div>
			<div class="collapse navbar-collapse" id="navbar">
				<ul class="navbar-nav ml-auto navbar-right">
					<li class="nav-item active">
						<a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" asp-controller="GalleryCustomer" asp-action="Index">Gallery</a>
					</li>
					<li class="nav-item active ">
						<a class="nav-link" href="#">Packages</a>
					</li>


					<li class="nav-item dropdown active">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Booking
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item" asp-controller="Booking" asp-action="Index">Create Booking</a>
							<a class="dropdown-item" asp-controller="Booking" asp-action="BList">Booking List</a>
						</div>
					</li>

					<li class="nav-item dropdown active">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Inquiry
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item" href="/Home/Index">Create Inquiry</a>
						</div>
					</li>

					<li class="nav-item">
						<a class="nav-link mx-2" href="#!"><i class="fas fa-bell pe-2"></i></a>
					</li>


				</ul>
			</div>
		</div>
	</nav>
</header>

<div class="Inquiry">
    <div>YOUR INQUIRY</div>
</div>

@using (Html.BeginForm("Submit", "Inquiry", FormMethod.Post))
{

    <div class="form-box">
        <div><strong>Send Inquiry</strong> | Inquiry List</div>
        <br/>
        @Html.TextBoxFor(model => model.Name, new { placeholder = "Title", rows = 6, style = "width: 100%; border-radius: 5px;" })
        <br/>
        <br/>

        @Html.TextAreaFor(model => model.Message, new { placeholder = "Message", rows = 6, style = "width: 100%; border-radius: 5px;" })
        <br/>
        <br/>

        <div class="BtnCont">
            <input type="submit" value="DRAFT" id="DrfBtn"/>
            <input type="submit" value="SEND" id="SbtBtn"/>
        </div>

    </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>

    <div class="FAQ">
        <div>FREQUENTLY ASKED QUESTIONS</div>
    </div>

    <br/>
    <section class="FAQcont" id="faq1">
        <div><strong>General |</strong> Photo Studio Experience</div>

        <br/>
        <span class="additional-text">CAN WE GET THE <strong>DIGITAL COPY?</strong></span>
        <span id="toggleText1" class="clickable-text" onclick="toggleMessage('toggleText1', 'hiddenMessage1')">V</span>

        <div id="hiddenMessage1" class="hidden-message">
            <br/>
            <p>This is the first hidden message. Click the text to toggle visibility.</p>
        </div>

        <hr/>
    </section>

    <section class="FAQcont" id="faq2">
        <span class="additional-text">DO YOU ACCEPT <strong>WALK-IN CLIENTS</strong></span>
        <span id="toggleText2" class="clickable-text" onclick="toggleMessage('toggleText2', 'hiddenMessage2')">V</span>

        <div id="hiddenMessage2" class="hidden-message">
            <br/>
            <p>This is the second hidden message. Click the text to toggle visibility.</p>
        </div>

        <hr/>
    </section>

    <section class="FAQcont" id="faq3">
        <span class="additional-text">WHERE ARE YOU <strong>LOCATED?</strong></span>
        <span id="toggleText3" class="clickable-text" onclick="toggleMessage('toggleText3', 'hiddenMessage3')">V</span>

        <div id="hiddenMessage3" class="hidden-message">
            <br/>
            <p>This is the second hidden message. Click the text to toggle visibility.</p>
        </div>

        <hr/>
    </section>

    <script>
            function toggleMessage(toggleTextId, hiddenMessageId) {
                var hiddenMessage = document.getElementById(hiddenMessageId);
                var toggleText = document.getElementById(toggleTextId);
                var currentDisplay = hiddenMessage.style.display;

                hiddenMessage.style.display = (currentDisplay === 'none') ? 'block' : 'none';
                toggleText.innerHTML = (currentDisplay === 'none') ? 'Λ' : 'V';
            }
        </script>

}
</body>
</html>

<footer>
    <div class="footer-container">
        <hr />
        <div class="social-icons">
            <a href="#" target="_blank"><i class="fas fa-envelope fa-2x"></i></a>
            <a href="#" target="_blank"><i class="fab fa-facebook-f fa-2x"></i></a>
            <a href="#" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
        </div>
    </div>
    <p class="copyright">&copy; 2023 Your Studio</p>
</footer>