@using System.Runtime.CompilerServices
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model YourStudioFinal.Models.Booking.BookingModel
@{
	ViewBag.Title = "Create Booking";
}

<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="~/css/Booking/CrtBook.css">
</head>
<body>

	<header>
	</header>

	<section class="container one" style="margin-top: 35px;">
		<div class="DAT inline">
			<div>SELECT DATE AND TIME</div>
		</div>

		<div class="PST inline">
			<div>Philippine Standard Time (GMT + 8)</div>
			<p id="currentDateTime" style="text-align: end;"></p>
		</div>
		<hr />
	</section>

	<section class="container one">
		<section class="ftco-section">
			<div class="container">
				<div class="row justify-content-center">
				</div>
				<div class="row">
					<div class="col-md-12">
						<div id="calendar" class="calendar">
							<div class="header">
								<a data-action="prev-month" href="javascript:void(0)" title="Previous Month"><i></i></a>
								<div class="text" data-render="month-year"></div>
								<a data-action="next-month" href="javascript:void(0)" title="Next Month"><i></i></a>
							</div>
							<div class="months" data-flow="left">
								<div class="month month-a">
									<div class="render render-a"></div>
								</div>
								<div class="month month-b">
									<div class="render render-b"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<div class="status-box-container">
			<div class="status-box">
				<div class="boxlg"></div>
				<span class="textlg">FULLY BOOKED</span>
			</div>
			<div class="status-box">
				<div class="boxlg" style="background-color:#cfcfcf;"></div>
				<span class="textlg">NOT AVAILABLE</span>
			</div>
		</div>

		<div class="status-box-container" style="margin-top: 420px;">
			<div class="status-box">
				<div class="boxlg" style="background-color:#E9BC42;;"></div>
				<span class="textlg">CURRENT DATE</span>
			</div>
		</div>
	</section>

	<section style="position: relative; margin-top: 120px;">
		<div id="slctDate" style="position: absolute; transform: translate(-50%, -100%); font-weight:bold; font-size:40px;"></div>
	</section>

	<section class="time-container">
		<section class="time" style="display: inline-block;">
			<div class="btn-row">
				<div class="btnT" data-original-color="white">09:00 am</div>
				<div class="btnT" data-original-color="white">12:00 nn</div>
			</div>
			<div class="btn-row">
				<div class="btnT" data-original-color="white">03:00 pm</div>
				<div class="btnT" data-original-color="white">06:00 pm</div>
			</div>
		</section>
	</section>

	<section class="pack">
		<label for="packages">PACKAGES:</label>
		<select name="packages" id="package" value="0" onchange="changePrice2(this.value)" form="BookingForm" required>
			<option value="None | 0 PHP">None</option>
			<option value="Your Student | 399">Your Student | 399</option>
			<option value="Your Soloito | 549">Your Soloito | 549</option>
			<option value="Your Duo | 769">Your Duo | 769</option>
			<option value="Your Barkada | 1209">Your Barkada | 1209</option>
			<option value="Your Squad | 989">Your Squad | 989</option>
			<option value="Your Family | 1869">Your Family | 1869</option>
			<option value="Your Fur Baby | 1429">Your Fur Baby | 1429</option>
			<option value="Your Graduation | 1429">Your Graduation | 1429</option>
			<option value="Your Birthday | 989">Your Birthday | 989</option>
			<option value="Your Maternity | 1899">Your Maternity | 1899</option>
			<option value="Your Home Service | 5499">Your Home Service | 5499</option>
		</select>
	</section>

	<section class="Adds" style=" top: -62px; left: 170px; position: relative;">
		<label for="addOns">ADD-ONS:</label>
		<select name="addOns" id="addOn" value="0" onchange="changePrice(this.value)" form="BookingForm" required>
			<option value="None | 0 PHP">None</option>
			<option value="Cake Smash Clean up | 300 PHP">Cake Smash Clean up | 300 PHP</option>
			<option value="Themed Background Setup | 299 PHP">Themed Background Setup | 299 PHP</option>
			<option value="15 Minute extension (with backdrop change) | 199 PHP">15 Minute extension (with backdrop change) | 199 PHP</option>
			<option value="Additional Person | 299 PHP/person">Additional Person | 299 PHP/person</option>
			<option value="Additional Pet | 349 PHP/pet">Additional Pet | 349 PHP/pet</option>
			<option value="4R - Sized Photo | 50 PHP">4R - Sized Photo | 50 PHP</option>
			<option value="8R - Sized Photo | 150 PHP">8R - Sized Photo | 150 PHP</option>
			<option value="8R - Sized Photo with frame | 450 PHP">8R - Sized Photo with frame | 450 PHP</option>
		</select>
	</section>

<section id="Srvc">


	<div class="info-box">
		<div id="SrvcDtl">SERVICE DETAILS</div>
		<div>
			<h6>
				<b>Name:</b> <span style="left: -5px; margin-left: 3px; position: relative;">@(ViewBag.isLogged ? ViewBag.User.UserName : "Not Logged in")</span>
			</h6>
		</div>
		<div>
			<h6><b>Date:</b> <span id="slctDate2"></span></h6>
		</div>
		<div>
			<h6><b>Time:</b> <span id="slctTime"></span></h6>
		</div>
		<div>
			<div id="packages">Package: <span>0</span></div> @*KUNG POSSIBLE GANTO SANA PAGKAKAHIWA-HIWALAY NILA :))*@
		</div>
		<div>
			<div id="addOns">Add-Ons: <span>0</span></div>
		</div>
		<div>
			<div id="totalPrice">Price: <span>0</span></div>
		</div>
		<div>
			<div id="downPayment">Downpayment: <span>500 PHP</span></div>
		</div>
	</div>

	<hr />
	<form asp-controller="Booking" asp-action="AddBooking" method="post" id="BookingForm">

		<input name="date" id="formDate" hidden required/>
		<input name="time" id="formTime" hidden required/>
		<input name="packages" id="formPackage" hidden required/>
		<input name="addOns" id="formAddOns" hidden />
		<input name="totalPrice" id="formPrice" hidden />
		<input name="downPayment" id="formDownPayment" hidden />
		<button type="submit" id="btnB" style="padding: 5px 10px;margin: 5px;background-color: black;color: white;font-size: 20px;text-align: center;" onclick="checkDateTime()">
			BOOK NOW!
		</button>
		@* <button type="button" id="btnB" data-toggle="modal" data-target="#exampleModalCenter" style="padding: 5px 10px;margin: 5px;background-color: black;color: white;font-size: 20px;text-align: center;"> *@
		@* 	BOOK NOW! *@
		@* </button> *@
	</form>

	<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content" style="height: 700px">
				<div class="modal-body">
					<img src="~/photos/logofull.png" class="mlPic" alt="">
					<div class="mlTitle" style="font-size: 24px;">You booked an appointment with the following service details. Please verify the information below and click "Confirm" to complete the booking process.</div>

					<div>
						<h6>
							<b>Name:</b> <span style="left: -5px; margin-left: 3px; position: relative;">@(ViewBag.isLogged ? ViewBag.User.UserName : "Not Logged in")</span>
						</h6>
					</div>
					<div>
						<h6><b>Date:</b> <span id="slctDate2"></span></h6>
					</div>
					<div>
						<h6><b>Time:</b> <span id="slctTime"></span></h6>
					</div>
					<div>
						<div id="packages">Package: <span>0</span></div>
					</div>
					<div>
						<div id="addOns">Add-Ons: <span>0</span></div>
					</div>
					<div>
						<div id="totalPrice">Price: <span>0</span></div>
					</div>

				</div>
				<form>
					<button type="button" class="btnMR" data-toggle="modal" data-dismiss="modal" data-target="#exampleModalCenter2">
						CONFIRM
					</button>
					<button type="button" class="btnC" data-dismiss="modal" style="border-radius: 5px;background-color: black; position: relative; top: -10px; font-weight: bold; padding: 6px 16px 6px 16px; margin-right: 20px; color: white; border: hidden;">CLOSE</button>
				</form>
			</div>
		</div>
	</div>

	<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<img src="~/photos/logofull.png" class="mlPic" style="left: 25%" alt="">
					<div class="mlTitle2">Booking Successful!</div>
					<div class="mlBody">Please check your email for your updated booking status.</div>
					<div class="mlBody"><b>Reminder:</b> if your booking has been accepted, a payment link will be sent to your email. You may now proceed to the down-payment process.</div>
					<form>
						<button type="button" class="btnMG" data-dismiss="modal">OKAY!</button>
					</form>
				</div>
			</div>
		</div>
	</div>

</section>

<script>

// document.getElementById('BookingForm').addEventListener('submit', function(event) {
//     var confirmation = confirm("Are you sure you want to book?");
//     if (!confirmation) {
//         event.preventDefault();
//     }
// });

</script>

@* <script> *@
	@* *@
	@* $(document).ready(function() { *@
	@*     $('#btnB').on('click', function() { *@
	@*         var name = $('#Srvc .info-box h6 span').text(); *@
	@*         var date = $('#Srvc #slctDate2').text(); *@
	@*         var time = $('#Srvc #slctTime').text(); *@
	@*         var package = $('#Srvc #packages span').text(); *@
	@*         var addOns = $('#Srvc #addOns span').text(); *@
	@*         var price = $('#Srvc #totalPrice span').text(); *@
	@* *@
	@*         $('#exampleModalCenter .modal-body h6 span').text(name); *@
	@*         $('#exampleModalCenter #slctDate2').text(date); *@
	@*         $('#exampleModalCenter #slctTime').text(time); *@
	@*         $('#exampleModalCenter #packages span').text(package); *@
	@*         $('#exampleModalCenter #addOns span').text(addOns); *@
	@*         $('#exampleModalCenter #totalPrice span').text(price); *@
	@*     }); *@
	@* }); *@
	@* </script> *@

	<!-- Modal -->
	@* <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true"> *@
	@*   <div class="modal-dialog modal-dialog-centered" role="document"> *@
	@*     <div class="modal-content"> *@
	@*       <div class="modal-header"> *@
	@*         <h5 class="modal-title" id="exampleModalLongTitle">Ops Teka Muna!</h5> *@
	@*         <button type="button" class="close" data-dismiss="modal" aria-label="Close"> *@
	@*           <span aria-hidden="true">&times;</span> *@
	@*         </button> *@
	@*       </div> *@
	@* 	    <div class="modal-body"> *@
	@* 		    <form asp-action="AddBooking" method="post" enctype="multipart/form-data"> *@
	@* 			    <input name="date" id="formDate" style="display: none"/> *@
	@* 			    <input name="time" id="formTime" style="display: none"/> *@
	@* 			    <input name="packages" id="formPackage" style="display: none"/> *@
	@* 			    <input name="addOns" id="formAddOns" style="display: none"/> *@
	@* 			    <input type="file" name="image" id="image" class="form-control-file" accept="image/*"/> *@
	@* 			    <button type="submit" class="btnB" data-original-color="Black">BOOK</button> *@
	@* 		    </form> *@
	@* 	    </div> *@
	@*       <div class="modal-footer"> *@
	@*         <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> *@
	@*         <button type="button" class="btn btn-primary">Save changes</button> *@
	@*       </div> *@
	@*     </div> *@
	@*   </div> *@
	@* </div> *@

	<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />

	@section scripts {

		<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
		<script src="~/bootstraps.min.js"></script>

		<script src="~/js/jquery.min.js"></script>
		<script src="~/js/popper.js"></script>
		<script src="~/js/main.js"></script>

	}
	
	<script>
    
    $(document).ready(function() {
        $('#btnB').on('click', function() {
            // Get the values
            var date = $('#Srvc #slctDate2').text();
            var time = $('.time .btnT.pressed').text();
            var packages = $('#package option:selected').text();
            var addOns = $('#addOn option:selected').text();
    		var totalPrice = $('#totalPrice span').text();
    
            // Set the values in the modal
            $('#exampleModalCenter #slctDate2').text(date);
            $('#exampleModalCenter #slctTime').text(time);
            $('#exampleModalCenter #packages span').text(packages);
            $('#exampleModalCenter #addOns span').text(addOns);
    		$('#exampleModalCenter #totalPrice span').text(totalPrice);
    		
    		// Set the values in the form fields
            $('#formDate').val(date);
            $('#formTime').val(time);
            $('#formPackage').val(packages);
            $('#formAddOns').val(addOns);
            $('#formPrice').val(totalPrice);
        });
    });
    
    
    
    </script>
	
	<script>
		$(document).ready(function () {
			var $prevButton = null;

			$(".btnT").on("mousedown", function () {
				if ($prevButton && $prevButton[0] !== this) {
					$prevButton.addClass("released").removeClass("pressed");
					$prevButton.css("background-color", $prevButton.data("original-color"));
				}
				$prevButton = $(this);
				$(this).addClass("pressed").removeClass("released");
				$(this).css("background-color", "grey");
			});

			$(".btnT").on("mouseup mouseleave", function () {
			});

			$(".btnT").on("click", function () {
				$prevButton = $(this);
			});

			$(document).on("click", ".table .row .cell span", ".calendar .header .text span", function () {
				var selectedDate = $(this).text();
				var selectedMonth = $(".calendar .header .text span").text();
				var clickedDate = new Date(selectedMonth + " " + selectedDate + ", " + new Date().getFullYear());
				var currentDate = new Date();

				if (clickedDate < currentDate) {
					return false;
				}

				$("#slctDay").text(selectedDate);
				$("#formDate").val(selectedDate + ' ' + selectedMonth);
				console.log('Selected date:', selectedDate);
				$("#slctDate").text(selectedDate + ' ' + selectedMonth);
				console.log('Selected month:', selectedMonth);
				$("#slctDate2").text(selectedDate + ' ' + selectedMonth);
				console.log('Selected month:', selectedMonth);
			});

			$(".time .btnT").on("click", function () {
				var selectedTime = $(this).text();
				$("#slctTime").text(selectedTime);
				$("#formTime").val(selectedTime);
				console.log('Selected time:', selectedTime);
			});
			// $(".btnB").on("click", function () {
			// 	var selectedPackage = $(this).val();
			// 	$("#packagelist").text('Selected Package: ' + selectedPackage);
			// 	console.log('Selected package:', selectedPackage);
			// });

		});

	</script>
	@* <script>
		function checkBooking() {
			var selectedPackage = document.getElementById("package").value;

			if (selectedPackage === "None | 0 PHP") {
				alert("Please select a package.");
				return false;
			}
			return true;
		}
	</script> *@
	<script>
		function changePrice(price) {
			switch (price) {
				// $("#packages").text("Total Package: " + price);
				// console.log('Selected package:', price);
				// $("#formPackage").val(price);

				case "None | 0 PHP":
					$("#addOns").text("Total Package: " + "0");
					console.log('Selected package:', price);
					$("#formAddOns").val(price);
					break;

				case "Cake Smash Clean up | 300 PHP":
					$("#addOns").text("Total Package: " + "300");
					console.log('Selected package:', price);
					$("#formAddOns").val(price);
					break;

				case "Themed Background Setup | 299 PHP":
					$("#addOns").text("Total Add-Ons: " + "299");
					console.log('Selected package:', price);
					$("#formAddOns").val(price);
					break;

				case "15 Minute extension (with backdrop change) | 199 PHP":
					$("#addOns").text("Total Add-Ons: " + "199");
					console.log('Selected package:', price);
					$("#formAddOns").val(price);
					break;

				case "Additional Person | 299 PHP/person":
					$("#addOns").text("Total Add-Ons: " + "299");
					console.log('Selected package:', price);
					$("#formAddOns").val(price);
					break;

				case "Additional Pet | 349 PHP/pet":
					$("#addOns").text("Total Add-Ons: " + "349");
					console.log('Selected package:', price);
					$("#formAddOns").val(price);
					break;

				case "4R - Sized Photo | 50 PHP":
					$("#addOns").text("Total Add-Ons: " + "50");
					console.log('Selected package:', price);
					$("#formAddOns").val(price);
					break;

				case "8R - Sized Photo | 150 PHP":
					$("#addOns").text("Total Add-Ons: " + "150");
					console.log('Selected package:', price);
					$("#formAddOns").val(price);
					break;

				case "8R - Sized Photo with frame | 450 PHP":
					$("#addOns").text("Total Add-Ons: " + "450");
					console.log('Selected package:', price);
					$("#formAddOns").val(price);
					break;
			};

			var packagePrice = parseInt($("#packages").text().split(" ")[2]);
			var addOnPrice = parseInt($("#addOns").text().split(" ")[2]);

			// Check if the parsed values are NaN and replace them with 0 if they are
			packagePrice = isNaN(packagePrice) ? 0 : packagePrice;
			addOnPrice = isNaN(addOnPrice) ? 0 : addOnPrice;

			$("#totalPrice").text("Total Price: " + (packagePrice + addOnPrice));
			$("#formPrice").val(packagePrice + addOnPrice);

		};

		function changePrice2(price2) {
			// 	$("#addOns").text("Total Add-Ons: " + price2);
			// 	console.log('Selected Add-ons:', price2);
			// 	$("#formAddOns").val(price2);
			switch (price2) {

				case "None | 0 PHP":
					$("#packages").text("Total Package: " + "0");
					console.log('Selected package:', price2);
					$("#formPackage").val(price2);
					break;

				case "Your Student | 399":
					$("#packages").text("Total Package: " + "399");
					console.log('Selected package:', price2);
					$("#formPackage").val(price2);
					break;

				case "Your Soloito | 549":
					$("#packages").text("Total Package: " + "549");
					console.log('Selected package:', price2);
					$("#formPackage").val(price2);
					break;

				case "Your Duo | 769":
					$("#packages").text("Total Package: " + "769");
					console.log('Selected package:', price2);
					$("#formPackage").val(price2);
					break;

				case "Your Barkada | 1209":
					$("#packages").text("Total Package: " + "1209");
					console.log('Selected package:', price2);
					$("#formPackage").val(price2);
					break;

				case "Your Squad | 989":
					$("#packages").text("Total Package: " + "989");
					console.log('Selected package:', price2);
					$("#formPackage").val(price2);
					break;

				case "Your Family | 1869":
					$("#packages").text("Total Package: " + "1869");
					console.log('Selected package:', price2);
					$("#formPackage").val(price2);
					break;

				case "Your Fur Baby | 1429":
					$("#packages").text("Total Package: " + "1429");
					console.log('Selected package:', price2);
					$("#formPackage").val(price2);
					break;

				case "Your Graduation | 1429":
					$("#packages").text("Total Package: " + "1429");
					console.log('Selected package:', price2);
					$("#formPackage").val(price2);
					break;

				case "Your Birthday | 989":
					$("#packages").text("Total Package: " + "989");
					console.log('Selected package:', price2);
					$("#formPackage").val(price2);
					break;

				case "Your Maternity | 1899":
					$("#packages").text("Total Package: " + "1899");
					console.log('Selected package:', price2);
					$("#formPackage").val(price2);
					break;

				case "Your Home Service | 5499":
					$("#packages").text("Total Package: " + "5499");
					console.log('Selected package:', price2);
					$("#formPackage").val(price2);
					break
				
			};

			var packagePrice = parseInt($("#packages").text().split(" ")[2]);
			var addOnPrice = parseInt($("#addOns").text().split(" ")[2]);

			// Check if the parsed values are NaN and replace them with 0 if they are
			packagePrice = isNaN(packagePrice) ? 0 : packagePrice;
			addOnPrice = isNaN(addOnPrice) ? 0 : addOnPrice;

			$("#totalPrice").text("Total Price: " + (packagePrice + addOnPrice));
			$("#formPrice").val(packagePrice + addOnPrice);
			
			document.getElementById('BookingForm').addEventListener('submit', function(event) {
                var totalPrice = parseInt($("#totalPrice").text().split(" ")[2]);
                document.getElementById('formPrice').value = totalPrice;
            });
			
			
			if(price2 === "Your Student | 399") {
            $("#downPayment").text("Downpayment: " + (packagePrice + addOnPrice) * 0.50);
			$("#formDownPayment").val((packagePrice + addOnPrice) * 0.50);
			
            }
			else {
			document.getElementById('downPayment').innerText = 'Downpayment: 500PHP';
			$("#formDownPayment").val(500);
			}
		};
	</script>
	<script>
		function updateTime() {
			const now = new Date();
			const date = now.toLocaleDateString();
			const time = now.toLocaleTimeString();
			document.getElementById("currentDateTime").innerHTML = `${date} ${time}`;
		}
		setInterval(updateTime, 1000);
	</script>

	<script>
		function checkDateTime() {
            console.log("Checking date, time, and package...");
            var date = $("#formDate").val();
            var time = $("#formTime").val();
            var selectedPackage = document.getElementById("package").value;
            if (date === "" || time === "") {
                alert("Please select a date and time.");	
                return false;
            } else if (selectedPackage === "None | 0 PHP") {
                alert("Please select a package");
				event.preventDefault();
                return false;
            } else {
                var confirmation = confirm("Are you sure you want to book?");
                if (!confirmation) {
                    return false;
                }
            }
            return true;
        }
	</script>

</body>
</html>